@import "@/app/globals.variables.module.scss";

.about {
	.section {
		@apply space-y-8;

		.sectionHeader {
			@apply flex items-center justify-between gap-4 mb-4 w-full;

			.sectionTitle {
				@apply font-unicephalon text-2xl tracking-wider text-foreground-secondary flex-grow;
			}
		}
	}

	.section + .section {
		@apply mt-16;
	}

	.feed {
		// @apply space-y-6;
		@apply grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-12 md:gap-10 lg:gap-14;
	}

	.cardAdmin {
		@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%] rounded-2xl h-full p-6 md:p-8 relative min-h-fit flex items-start flex-col gap-1 justify-start;

		transition:
			background-color 0.5s,
			box-shadow 0.5s,
			opacity 0.5s,
			box-shadow 0.5s;

		&:hover {
			@apply bg-popover/[80%];

			box-shadow: 0 8px 32px theme("colors.muted.secondary");
			transition:
				background-color 0.5s,
				box-shadow 0.5s,
				opacity 0.5s,
				box-shadow 0.5s;
		}

		.cardEditActions {
			@apply flex gap-1 absolute right-0 top-0 p-4 rounded-2xl;
		}

		.row {
			@apply flex justify-start items-start;

			.leftCol {
				@apply text-foreground-secondary w-28 flex-shrink-0;
			}

			.rightCol {
				@apply text-foreground line-clamp-1;
			}
		}
	}
}
