/* @media screen and (max-width: 520px) {
    .mlt-button-show-less,
    .mlt-button-read-more {
        margin-top: -1.1em;
        position: relative;
        float: right;
        top: 0.8em;
        right: -.8em;
        font-size: .8em;

        position: absolute;
        top: 1.7em;
        right: -.5em;
    }
}

@media screen and (min-width: 521px) {
    .mlt-button-show-less,
    .mlt-button-read-more {
        position: absolute;
        top: 1.2em;
        right: -.5em;
    }
} */

.mlt-button-show-less,
.mlt-button-read-more {
    position: absolute;
    top: 1.2em;
    right: -.5em;
}