@media screen and (max-width: 720px) {

    .mlt-button-show-less,
    .mlt-button-read-more {
        position: relative;
        float: right;
        top: -.1em;
        right: -.8em;
        line-height: .8;
        padding: 0.69em 1.23em 0.6em;
    }
}

@media screen and (min-width: 721px) {

    .mlt-button-show-less,
    .mlt-button-read-more {
        position: absolute;
        top: 2em;
        right: -.5em;
    }
}