@import "@/app/(styles)/globals.variables.module.scss";

.card {
	@apply grid relative;

	@screen sa {
		grid-template:
			"meta-info content-title"
			"meta-info content-description"
			/ max-content 1fr;
	}

	grid-template:
		"content-title"
		"meta-info"
		"content-description";

	.info {
		@apply flex items-center sa:items-start flex-row-reverse justify-end sa:justify-start sa:flex-col gap-2 sa:gap-0.5 sa:mt-0.5 sa:w-[7rem];

		grid-area: meta-info;

		.date {
			@apply flex gap-1 text-sm sa:text-base;
		}

		.dateProject {
			@apply flex gap-1 text-sm sa:text-base flex-row sa:flex-col;
		}

		.dividerProject {
			@apply text-sm sa:hidden;
		}

		.divider {
			@apply text-sm sa:hidden text-muted-foreground;
		}

		.location {
			@apply line-clamp-2 text-sm;
		}

		.linksProjectPost {
			@apply pt-1 m-0 flex gap-2;

			.iconWrapper {
				@apply fill-foreground-secondary hover:fill-ring-secondary flex items-center justify-center h-full;
			}
		}

		.slug {
			@apply line-clamp-1 max-w-[90%];
		}
	}

	.header {
		@apply w-full;

		grid-area: content-title;
	}

	.lightPrimaryText {
		@apply text-foreground-secondary;
	}

	.lightSecondaryText {
		@apply text-foreground-quaternary;
	}

	.title {
		@apply text-lg tracking-wide font-semibold hyphens-auto;

		> p:last-of-type {
			@apply mb-0;
		}
	}

	.description {
		@apply w-full;

		grid-area: content-description;
	}

	.buttons {
		@apply float-right ml-2 mb-2 relative h-2;

		.buttonsContainer {
			@apply flex items-center gap-3 2xs:gap-2 right-0 select-none scale-75 2xs:scale-90 origin-right -translate-y-[0.375rem];
		}
	}
}
