.card {
	@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%] rounded-2xl h-full p-6 pt-5 relative flex items-start flex-col gap-4 justify-start border-4 border-transparent;

	transition:
		background-color 0.5s,
		box-shadow 0.5s,
		opacity 0.5s,
		box-shadow 0.5s,
		border-color 0.5s;

	/** https://youtu.be/ezP4kbOvs_E */
	:global(.special-card):has(&) {
		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
			background-image: conic-gradient(from var(--angle), #ff4545, #0f9, #006aff, #ff0095, #ff4545);
			transition:
				filter 0.5s,
				opacity 0.5s;
			animation: 12s spin linear infinite;
			translate: -50% -50%;
		}

		&:hover::after,
		&:hover::before {
			animation: 4s spin linear infinite;
		}

		/* stylelint-disable no-descending-specificity */
		&::after {
			opacity: 0.6;
			z-index: -3;
		}

		&::before {
			opacity: 0.3;
			filter: blur(0.2rem);
			z-index: -4;
		}
		/* stylelint-enable no-descending-specificity */

		&:hover::before {
			opacity: 0.85;
			filter: blur(0.7rem);
		}
	}

	:global(.special-card) > & {
		border: 0 solid transparent;
		background-color: transparent;

		&:hover {
			background-color: transparent;
			box-shadow: none;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition:
				background-color 0.5s,
				box-shadow 0.5s,
				opacity 0.5s,
				box-shadow 0.5s,
				border-color 0.5s;
			translate: -50% -50%;
		}

		&::before {
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			border-radius: calc(1rem - 3px);
			z-index: -1;

			:global(.dark) & {
				background-color: #353535;
			}

			:global(.light) & {
				@screen md {
					background-color: hsl(0deg 0% 92.16%);
				}

				background-color: hsl(0deg 0% 87.84%);
			}

			:global(.light-brown) & {
				@screen md {
					background-color: #f2ede6;
				}

				background-color: hsl(30deg 28.57% 89.02%);
			}
		}

		&:hover::before {
			:global(.dark) & {
				background-color: hsl(0deg 0% 16.86%);
			}

			:global(.light) & {
				background-color: hsl(0deg 0% 73.73%);
			}

			:global(.light-brown) & {
				background-color: #d0bea7;
			}
		}

		&::after {
			@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%];

			width: 100%;
			height: 100%;
			border-radius: 1rem;
			z-index: -2;
		}

		&:hover::after {
			background-color: transparent;
		}
	}

	/* stylelint-disable no-descending-specificity */
	:target > &,
	&:target,
	&:hover {
		@apply bg-popover/[80%] border-muted/60;

		box-shadow: 0 4px 24px theme("colors.muted.secondary/80%");
		transition:
			background-color 0.5s,
			box-shadow 0.5s,
			opacity 0.5s,
			box-shadow 0.5s,
			border-color 0.5s;

		:global(.dark) & {
			@apply border-primary/60;
		}
	}
	/* stylelint-enable no-descending-specificity */
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes spin {
	0% {
		--angle: 0deg;
	}

	100% {
		--angle: 360deg;
	}
}
