@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable no-invalid-position-at-import-rule */
@import "./globals.variables.module.scss";
/* stylelint-enable no-invalid-position-at-import-rule */

/* stylelint-disable custom-property-empty-line-before, function-no-unknown */
@layer base {
	:root {
		--background: 0 0% 96%;
		--foreground: 0 0% 10%;
		--foreground-secondary: 0 0% 30%;
		--foreground-tertiary: 0 0% 50%;
		--foreground-quaternary: 0 0% 60%;

		--primary: 0 0% 80%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 0 0% 68%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 216 64% 59%;
		--accent-foreground: 0 0% 5%;

		--accent-secondary: 264 59% 63%;
		--accent-tertiary: 32 100% 50%;

		--ring: 216 100% 68%;
		--ring-secondary: 265 100% 74%;

		--card: var(--primary);
		--card-foreground: var(--foreground);

		--popover: var(--secondary);
		--popover-foreground: var(--foreground);

		--muted: 0 0% 65%;
		--muted-secondary: 0 0% 60%;
		--muted-foreground: 0 0% 30%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;

		--border: var(--secondary);
		--input: var(--secondary);

		--radius: 0.5rem;
		--scrollbar-width: 0.86rem;

		--navbar-height: 3.875rem;
		--footer-height: 3.625rem;
		--content-height: calc((var(--vh, 1vh) * 99.5) - var(--navbar-height) - var(--footer-height));
	}

	.light-brown {
		--foreground: 34 30% 23%;
		--foreground-secondary: 34 30% 29%;
		--foreground-tertiary: 34 30% 42%;
		--foreground-quaternary: 34 30% 45%;

		--background: 34 30% 96%;
		--primary: 34 30% 82%;
		--secondary: 34 30% 68%;

		--accent: 26 100% 50%;
		--accent-secondary: 13 76% 44%;

		--ring: 32 100% 50%;
		--ring-secondary: 23 76% 44%;

		--muted: 34 30% 65%;
		--muted-secondary: 34 30% 60%;
		--muted-foreground: 34 30% 30%;
	}

	.dark {
		--background: 0 0% 20%;
		--foreground: 0 0% 90%;
		--foreground-secondary: 0 0% 85%;
		--foreground-tertiary: 0 0% 65%;
		--foreground-quaternary: 0 0% 45%;

		--primary: 0 0% 24%;
		--primary-foreground: 0 0% 52%;

		--secondary: 0 0% 16%;
		--secondary-foreground: 0 0% 48%;

		--card: var(--primary);
		--card-foreground: var(--foreground);

		--popover: var(--secondary);
		--popover-foreground: var(--foreground);

		--muted: 0 0% 14%;
		--muted-secondary: 0 0% 8%;
		--muted-foreground: 0 0% 50%;

		--destructive: 0 75% 55%;
		--destructive-foreground: 210 20% 98%;

		--border: var(--secondary);
		--input: var(--secondary);
	}
}
/* stylelint-enable custom-property-empty-line-before */

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		@screen 6xs {
			overflow-x: hidden;
		}

		@screen sm {
			overflow-y: hidden;
		}

		overflow-x: auto;
		min-width: 320px;
	}
}

// textarea:focus,
[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
select:focus {
	--tw-ring-color: hsl(var(--ring));

	border-color: hsl(var(--ring));
}

input:placeholder-shown {
	text-overflow: ellipsis;
}

/* Trick the hidden scroll of Radix Select */
body [data-radix-select-viewport] {
	-webkit-overflow-scrolling: scroll;
	scrollbar-width: 2rem;
	-ms-overflow-style: scroll;
}

body [data-radix-select-viewport]::-webkit-scrollbar {
	display: inherit;
}

/* Outline */
:focus-visible,
:focus {
	outline-color: hsl(var(--ring));
}

/* Text selection */
:not(.w-md-editor-text > *)::selection {
	background: hsl(var(--accent-tertiary));
	color: hsl(var(--accent-foreground));
}

/* Scroll bars */
* {
	color-scheme: light dark;
	scrollbar-width: thin;
	scrollbar-color: theme("colors.muted.DEFAULT") transparent;
}

.dark * {
	color-scheme: dark;
	scrollbar-color: theme("colors.accent.DEFAULT") transparent;
}

html.dark {
	color-scheme: dark;
	scrollbar-color: theme("colors.accent.DEFAULT/5") transparent;
}

main {
	margin-top: -8px;
	margin-bottom: -8px;
	padding-top: 8px;
	padding-bottom: 8px;
	scrollbar-gutter: stable both-edges;
}

/**
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-width: thin;
	scrollbar-color: theme("colors.muted.DEFAULT") transparent;
}

*::-webkit-scrollbar {
	width: calc(var(--scrollbar-width) / 1.1);
	height: calc(var(--scrollbar-width) / 1.1);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	height: 52px;
	border: calc(var(--scrollbar-width) / 4.2) solid transparent;
	border-radius: var(--scrollbar-width);
	border-radius: 8px;
	background-color: theme("colors.muted.DEFAULT");
	background-clip: content-box;
	scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	scrollbar-width: thin;
}

.dark *::-webkit-scrollbar-thumb {
	background-color: theme("colors.gray.300");
}

*::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--accent));
}

*::-webkit-scrollbar-corner {
	background-color: hsl(var(--primary-foreground));
}
*/

/* Logo */
.logoContainer {
	@apply transition-colors duration-300 outline-none focus-visible:outline-none focus:outline-none;
}

.cls-1 {
	fill: #787878;
}

.cls-4,
.cls-5,
.cls-4-gray,
.cls-5-gray,
.cls-2 {
	fill: #b4b4b4;
}

.cls-4,
.cls-5,
.cls-4-gray,
.cls-5-gray {
	@apply fill-muted-foreground dark:fill-foreground;
}

.cls-3 {
	fill: #a0a0a0;
}

.logoContainer .cls-4,
.logoContainer .cls-5,
.logoContainer:hover .cls-4,
.logoContainer:hover .cls-5 {
	@apply transition-colors duration-300;
}

.cls-4-color,
.logoContainer:hover .cls-4 {
	fill: theme("colors.ring.DEFAULT");
}

.cls-5-color,
.logoContainer:hover .cls-5 {
	fill: hsl(265deg 100% 74%);
	fill: theme("colors.ring.secondary");
}

/**
 * NOTE: using syntax with exclamation mark
 * like "hover:!bg-slate-500",
 * causes an error in the .scss files!
 */

/* Common styles */
.emphasize_drop_shadow {
	/* filter: drop-shadow(1px 2px 3px theme("colors.mlt-dark-1")); */
	filter: drop-shadow(1px 2px 2px theme("colors.muted.secondary"));
}

.margin_vh_top {
	margin-top: vh(9);
}

.margin_vh_middle {
	margin-top: vh(4);
}

.margin_vh_bottom {
	margin-bottom: vh(7);
}

/* Switch IconEmbedSvg colors */

.icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.secondary.DEFAULT");
}

.icon_accent_secondary .icon-embed-svg-override-path-2 {
	fill: theme("colors.ring.secondary");
}

.dark .icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.foreground.quaternary");
}

.light-brown .icon_accent_secondary .icon-embed-svg-override-path-1,
.light .icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.foreground.tertiary");
}

/* @/components/ui */
.toast_pre_info {
	@apply mt-2 rounded-md bg-secondary p-4 max-w-full w-full overflow-x-auto;
}

.btn_close_x {
	@apply h-8 w-8 text-accent saturate-200 brightness-110 emphasize_drop_shadow
		right-4 top-4 rounded-sm hover:opacity-100 transition-opacity
		ring-offset-background focus-visible:ring-offset-background
		focus:outline-none focus:ring-1 focus:ring-ring focus:bg-ring/30
		hover:bg-ring/30 focus:ring-offset-4 disabled:pointer-events-none data-[state=open]:bg-secondary data-[state=open]:text-muted-foreground;
}

/**
 * Google reCaptcha
 * @see https://github.com/pa4080/animated-portfolio/blob/b2f617bb8deaa4ad6a91937003cee6033ef033c2/components/contact/ContactForm.tsx#L175
 */
[data-style="bottomright"].grecaptcha-badge {
	@apply transition-all duration-300;

	box-shadow: theme("colors.muted.DEFAULT") 0 0 5px !important;
	translate: 100px -60px;
}

/* Typography */
.section_title {
	@apply font-unicephalon text-foreground-secondary text-3xl px-1 mb-6;
}

/* Markdown Editor */
body .w-md-editor {
	border-radius: theme("borderRadius.md");
	box-shadow: none !important;
}

body .w-md-editor-toolbar {
	border-radius: theme("borderRadius.md") theme("borderRadius.md") 0 0;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input,
body .w-md-editor-preview > * {
	font-size: 1.1rem !important;
	line-height: 1.5em !important;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
	color: $foreground;
	letter-spacing: 0.5px !important;
}

body .w-md-editor-text-pre,
body .w-md-editor-text-input,
body .w-md-editor-text > .w-md-editor-text-pre {
	/* font-family: $font-inter !important; */
	font-family: $font-poppins !important;
}

body textarea.w-md-editor-text-input,
body textarea.w-md-editor-text-input:active,
body textarea.w-md-editor-text-input:focus {
	--tw-ring-color: transparent !important;

	border-color: unset !important;
	color: $foreground;
	box-shadow: none !important;
	outline: unset !important;
	text-shadow: none !important;
	font-feature-settings: unset !important;
	font-variation-settings: unset !important;
}

/* Markdown Processed to HTML */
.md-processed-to-html {
	@apply text-foreground-secondary hyphens-auto xa:text-justify sa:text-[1.05rem] sa:leading-[1.75em] tracking-wide;

	a,
	a:visited {
		@apply text-ring;
	}

	a:hover {
		@apply underline text-ring-secondary;
	}

	p {
		@apply mb-4;

		strong {
			@apply text-foreground font-semibold;
		}
	}

	p:last-of-type {
		@apply mb-0;
	}
}

/* Icons (<i/>) */
.icon {
	margin: 0 0.1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	mask-size: cover;
}

.i-default-bg {
	background-color: theme("colors.foreground.DEFAULT");
}

.i-full-star {
	mask: url("/assets/icons/ui/star.svg") no-repeat 50% 50%;
}

.i-half-star {
	mask: url("/assets/icons/ui/star-half-stroke.svg") no-repeat 50% 50%;
}

.i-no-star {
	mask: url("/assets/icons/ui/star-stroke.svg") no-repeat 50% 50%;
}

/* Format HTML tags defined in the {locale}.json files */
.json-desc {
	b {
		@apply text-foreground;
	}

	/* stylelint-disable-next-line no-descending-specificity */
	code {
		@apply tracking-wide;
	}

	& + & {
		@apply mt-2;
	}
}

/**
 * CSS Animations
 * @see https://www.youtube.com/watch?v=UmzFk68Bwdk
 */
@supports (animation-timeline: view()) {
	@media (prefers-reduced-motion: no-preference) {
		@keyframes fade-in-pop-item {
			0% {
				opacity: 0.5;
				filter: grayscale(1);
				scale: 0.3;
				translate: 0 40%;
			}

			95% {
				opacity: 1;
				filter: grayscale(1);
				scale: 1;
				translate: 0 0;
			}

			98%,
			100% {
				opacity: 1;
				filter: grayscale(0);
				scale: 1;
				translate: 0 0;
			}
		}

		.section_resume-public-text .md-processed-to-html p,
		.pop-item:not(.expand-collapsed-current) {
			animation: fade-in-pop-item ease-out forwards;
			animation-timeline: view();
			animation-range-start: calc($footer-height * -3.6);
			animation-range-end: calc($footer-height * 1.6);
		}

		.pop-header {
			animation: fade-in-pop-item ease-out forwards;
			animation-timeline: view();
			animation-range-start: calc($footer-height * -3.6);
			animation-range-end: calc($footer-height * 1.4);
		}
	}
}

/* Collapsible items (see components/fragments/ToggleCollapsible) */
.sub-section-collapsible,
.section-card-collapsible {
	display: none;
}

.expand-collapsed.list-sub-section .section-card-collapsible,
.expand-collapsed.list-section :not(.list-sub-section) .section-card-collapsible,
.expand-collapsed.list-section .sub-section-collapsible {
	display: inherit;
}

/* Bordered Card */
.card-border-wrapper {
	@apply scroll-m-8 relative;

	/* Box outline */
	&::before {
		@apply transition-all duration-300 ease-in-out;

		content: "";
		position: absolute;
		display: block;
		border-radius: 0.4rem;
		outline: 4px dashed transparent;
		outline-offset: 0.5rem;
		inset: -0.3rem -0.1rem;

		/* stylelint-disable-next-line order/order */
		@screen xa {
			inset: -0.4rem -0.15rem;
		}
	}

	&:hover {
		&::before {
			@apply transition-all duration-200 ease-in-out;

			outline: 4px dashed theme("colors.primary.DEFAULT/60%");
		}
	}

	&.expand-collapsed-current {
		&::before {
			outline: 4px solid theme("colors.primary.DEFAULT/60%");
		}
	}

	.card-single-item {
		@apply mt-1;
	}

	.card-item-static {
		@apply line-clamp-3 mt-1;

		transition: margin-top 0.2s ease-out 0.05s;

		&.admin-projects-card {
			@apply -mt-3;
		}

		> p {
			@apply mb-0;

			transition: margin-top 0.2s ease-out 0.05s;
		}
	}

	&.expand-collapsed .card-item-static {
		@apply mt-4 line-clamp-none;

		transition: margin-top 0.05s ease-in;

		> p {
			@apply mb-4;

			transition: margin-top 0.05s ease-in;
		}
	}

	.card-item-collapsible {
		@apply mt-2;

		display: none;

		> :global(.about-entry-tags) {
			@apply mt-4;
		}
	}

	.card-item-static + .card-item-collapsible {
		@apply mt-4;
	}

	&.expand-collapsed .card-item-collapsible {
		display: inherit;
	}

	.about-entry-tags {
		@apply flex gap-1 flex-wrap p-0;
	}
}
