.mlt-cell-2x2-grid {
    display: flow-root;
}

.mlt-cell-2x2-col-1-row-1,
.mlt-cell-2x2-col-1-row-2 {
    display: inline-block;
    margin-bottom: 0;
    color: var(--gray-2);
}

.mlt-cell-2x2-col-1-row-1 {
    font-weight: 500;
}

.mlt-cell-2x2-col-1-row-2 {
    margin-left: 1em;
}

.mlt-cell-2x2-col-2-row-1-position {
    font-weight: 500;
}

.mlt-cell-2x2-col-2-row-1 {
    /* font-size: 1.1em; */
    margin: .4em 0;
}

.mlt-cell-2x2-col-2-row-2 {
    margin-top: 0;
    margin-bottom: .6em;
    color: var(--gray-2);
}

.mlt-cell-2x2-grid:not(:first-child) .mlt-cell-2x2-col-1-row-1,
.mlt-cell-2x2-grid:not(:first-child) .mlt-cell-2x2-col-2-row-1 {
    margin-top: .2em;
}

@media screen and (min-width: 721px) {
    .mlt-cell-2x2-grid {
        display: grid;

        display: grid;
        grid-gap: calc(var(--scale-param) * 0.2);
        grid-template:
            "period-location office-at-description" 2.2em
            "period-location office-at-description" auto
            / 6.8em 1fr;
    }

    .mlt-cell-2x2-col-1 {
        grid-area: period-location;
    }


    .mlt-cell-2x2-col-2 {
        grid-area: office-at-description;
    }

    .mlt-cell-2x2-col-2-row-2,
    .mlt-cell-2x2-col-2-row-1,
    .mlt-cell-2x2-col-1-row-1,
    .mlt-cell-2x2-col-1-row-2 {
        font-size: 1em;
        display: block;
        margin: 1em 0;
    }

    .mlt-cell-2x2-col-1-row-1,
    .mlt-cell-2x2-col-2-row-1 {
        margin-bottom: 0.2em;
    }

    .mlt-cell-2x2-col-2-row-2,
    .mlt-cell-2x2-col-1-row-2 {
        margin-top: 0;
    }

    .mlt-cell-2x2-col-1-row-2 {
        line-height: 1.55;
        font-size: 0.92em;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mlt-cell-2x2-col-1-row-1,
    .mlt-cell-2x2-col-1-row-2 {
        color: var(--gray-2);
    }
}