/**
 * The component grid
 */
.mlt-cell-1x3-grid {
    display: grid;
    grid-gap: calc(var(--scale-param) * 0.2);

    grid-template:
        "column-1 column-2 column-3" max-content
        / 6em 6em 1fr;

    margin-bottom: .4em;
    width: 100%;
}

.mlt-cell-1x3-col-1 {
    grid-area: column-1;
}

.mlt-cell-1x3-col-2 {
    grid-area: column-2;
}

.mlt-cell-1x3-col-3 {
    grid-area: column-3;
}

.mlt-cell-1x3-col-1-row-1 {
    font-weight: 500;
}

.mlt-cell-1x3-col-3-row-1 {
    color: var(--gray-2);
}

.mlt-cell-1x3-grid p {
    margin: 0;
}

@media screen and (max-width: 720px) {
    /* #mlt-it-skills-and-experience-section */
    #mlt-it-skills-and-experience-section .mlt-cell-1x3-grid:not(.mlt-tapToShow) {
        display: grid;
        grid-gap: calc(var(--scale-param) * 0.2);
        row-gap: 0;

        grid-template:
            "column-1 column-2" max-content
            "column-3 column-3" max-content
            / 6em 1fr;

        margin-bottom: .8em;
        width: 100%;
    }

    .mlt-tapToShow.mlt-cell-1x3-grid {
        display: grid;
        grid-gap: calc(var(--scale-param) * 0.2);
        row-gap: 0;

        grid-template:
            "column-1 column-2 tap-to-show" max-content
            "column-3 column-3 column-3" max-content
            / 6em 6em 1fr;

        width: 100%;
    }

    

    .mlt-cell-1x3-col-3.mlt-tapToShow-expanded {
        margin-bottom: .2em;
    }
}

@media screen and (min-width: 721px) {
    .mlt-cell-1x3-grid {
        display: grid;
        grid-gap: calc(var(--scale-param) * 0.2);

        grid-template:
            "column-1 column-2 column-3" max-content
            / 6.8em 6.2em 1fr;
    }
}