.mlt-about-title-section-grid {
    display: block;
}

.mlt-about-section.mlt-about-title-section-grid {
    margin-bottom: 1em;
}

.mlt-about-photo-container,
.mlt-about-photo-wrapper,
.mlt-about-title-section-row-1,
.mlt-about-title-section-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mlt-about-photo-container {
    grid-area: resume-leading-img;
    user-select: none;
    margin: calc(var(--scale-param) * 0.6) auto calc(var(--scale-param) * 0.5);
}

.mlt-about-photo-wrapper {
    background-color: var(--gray-2);
    overflow: hidden;
    user-select: none;
    transform: scale(1.02);
   
    /* width: calc(var(--default-rounded-img-width) * 1.6);
    height: calc(var(--default-rounded-img-width) * 1.6); */
    width: 320px;
    height: 320px;

    border-radius: 50%;

    filter: drop-shadow(1px 2px 4px var(--dark-shadow-1));
}

.mlt-about-photo-img {
    height: 92%;
    width: 92%;

    border-radius: 50%;

    filter: drop-shadow(0px 0px 3px var(--dark-shadow-5));
}

.mlt-about-title-section-row-1 {
    grid-area: resume-leading-row-1;

    font-family: var(--font-family-fancy);
    font-weight: var(--font-weight-fancy);
    letter-spacing: calc(var(--letter-spacing-fancy) * 2);
    font-size: calc(var(--scale-param) * 1);

    color: var(--gray-3);
    line-height: 1.5;
    justify-content: center;

    text-align: center;
}

/* .mlt-about-title-section-row-1 p {
    margin-bottom: 0;
    margin-top: 0;
} */

.mlt-about-title-section-row-2 {
    grid-area: resume-leading-row-2;
    
    justify-content: flex-start;
    
    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
}

.mlt-about-title-section-row-2 > p {
    margin: 0;
}

@media screen and (max-width: 441px) {
    .mlt-about-photo-wrapper {
        width: calc(var(--default-rounded-img-width) * 2.6);
        height: calc(var(--default-rounded-img-width) * 2.6);
    }
}

@media screen and (min-width: 321px) {
    
    .mlt-about-title-section-row-1 {
        font-size: calc(var(--scale-param) * 0.65);
    }
}

@media screen and (min-width: 721px) {
    .mlt-about-title-section-grid {
        display: grid;
        grid-gap: calc(var(--scale-param) * 0.2);
        grid-template:
            "resume-leading-img resume-leading-row-1" calc(var(--scale-param) * 1.65)
            "resume-leading-img resume-leading-row-2" calc(var(--scale-param) * 1.15)
            / max-content 1fr;
    }

    .mlt-about-photo-container,
    .mlt-about-photo-wrapper {
        width: var(--default-rounded-img-width);
        height: var(--default-rounded-img-width);
        margin: auto;
    }

    .mlt-about-title-section-row-1 {
        font-size: calc(var(--scale-param) * 0.45);
        text-align: left;
    }
    
    .mlt-about-title-section-row-1,
    .mlt-about-title-section-row-2 {
        padding-left: calc(var(--scale-param) * 0.2);
        flex-direction: column;
    }

} 