.fileInputWrapper {
  @apply w-full cursor-pointer relative rounded-md border border-input bg-background ring-offset-background
		hover:outline-none hover:ring-2 hover:ring-ring hover:ring-offset-2 disabled:cursor-not-allowed hover:border-ring
		transition-colors duration-150;

  .fileInput {
    @apply z-10 h-10 outline-none focus:outline-none focus-visible:outline-none border-none p-0 cursor-pointer;
  }

  input[type="file"]::file-selector-button {
    @apply bg-primary h-full px-4 mr-4 cursor-pointer;
  }

  &:hover {
    input[type="file"]::file-selector-button {
      @apply bg-accent text-muted-secondary transition-colors duration-100;
    }
  }
}
