.mlt-logo-container {
	height: max-content;
	height: fit-content;
	height: -moz-fit-content;
    width: var(--max-width);
    max-width: var(--max-width);
    margin: auto;
    position: relative;
    margin-top: var(--default-top-offset);
}

.mlt-logo-img {
    height: auto;
    width: 100%;
    filter: drop-shadow(1px 2px 3px var(--dark-shadow-1));
}

.mlt-redirect-counter {
    font-family: 'Unicephalon', sans-serif;
    font-size: 3.4vmin;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-1);
    /* filter: drop-shadow(1px 2px 3px #111); */
}