.mlt-resume-leading-section-grid {
    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
    max-width: var(--max-width);
    margin: auto;
}

@media screen and (min-width: 721px) {
    .mlt-resume-leading-section-grid {
        display: grid;
        grid-gap: 2vmin;
        grid-template:
            "resume-leading-img resume-leading-row-1" 14vmin
            "resume-leading-img resume-leading-row-2" 12vmin
            / max-content 1fr;
    }
}

@media screen and (max-width: 720px) {
    .mlt-resume-leading-section-grid {
        grid-template:
            "resume-leading-row-1" 16vmin
            "resume-leading-img" 56vmin
            "resume-leading-row-2" 16vmin;
            /* / 1fr; */
    }
}

.mlt-resume-photo-container {
    grid-area: resume-leading-img;
    width: calc(var(--default-rounded-img-width) * 1.5);
    height: calc(var(--default-rounded-img-width) * 1.5);
    overflow: hidden;
    filter: drop-shadow(1px 2px 4px var(--dark-shadow-1));
    background-color: var(--gray-2);
    border-radius: 50%;
    margin: 6vmin auto 5vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.02);
}

@media screen and (min-width: 721px) {
    .mlt-resume-photo-container {
        width: var(--default-rounded-img-width);
        height: var(--default-rounded-img-width);
        margin: auto;
    }
}

.mlt-resume-photo-img {
    height: 92%;
    width: 92%;
    height: auto;
    user-select: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px var(--dark-shadow-5));
}

.mlt-resume-leading-section-row-1,
.mlt-resume-leading-section-row-2 {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mlt-resume-leading-section-row-1 {
    grid-area: resume-leading-row-1;

    font-family: var(--font-family-fancy);
    font-weight: var(--font-weight-fancy);
    letter-spacing: calc(var(--letter-spacing-fancy) * 5);
    font-size: 10vmin;

    color: var(--gray-3);
    line-height: 1.5;
    justify-content: center;

    text-align: center;
}

.mlt-resume-leading-section-row-1 p {
    margin-bottom: 0;
    margin-top: 0;
}


.mlt-resume-leading-section-row-2 {
    grid-area: resume-leading-row-2;
    
    justify-content: flex-start;
    
    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
}

.mlt-resume-leading-section-row-2 > p {
    margin: 0;
}

@media screen and (min-width: 321px) {
    .mlt-resume-leading-section-row-1 {
        font-size: 6.5vmin;
    }
}

@media screen and (min-width: 721px) {
    .mlt-resume-leading-section-row-1 {
        font-size: 4vmin;
        text-align: left;
    }
    
    .mlt-resume-leading-section-row-1 p {
        margin-bottom: 1em;
    }
    

    .mlt-resume-leading-section-row-1,
    .mlt-resume-leading-section-row-2 {
        padding-left: 2vmin;
        flex-direction: column;
    }

}