.navbar {
  @apply relative flex justify-between items-center w-full h-navbar max-h-navbar bg-primary px-4 py-3 scroll-mt-40;

  box-sizing: border-box;
  box-shadow: 0 2px 6px 3px theme("colors.background");
  z-index: 15;
}

.navItemCommon {
  @apply h-full transition-colors duration-100 hover:text-accent active:text-ring-secondary hover:transition-colors hover:duration-200 font-unicephalon tracking-wide ml:tracking-widest;
}
