.mlt-error-container {
    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
    width: var(--max-width);
    max-width: var(--max-width);
    margin: auto;
    position: relative;
    margin-top: var(--top-offset-default);

    display: grid;
    grid-gap: 2vmin;
    grid-template:
        "img error-number" 19vmin
        "img error-desc" 7vmin
        / max-content 1fr;
}

.mlt-logo-img {
    grid-area: img;
    height: auto;
    width: var(--default-rounded-img-width);
    filter: drop-shadow(1px 2px 3px var(--dark-shadow-1));
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mlt-http-error-number,
.mlt-http-error-desc {
    font-family: var(--font-fancy);
    user-select: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mlt-http-error-number {
    grid-area: error-number;
    letter-spacing: 1vmin;
    font-size: 16vmin;
    color: var(--gray-4);
    line-height: 1;
    padding-top: 2vmin;
    box-sizing: border-box;
    
    align-items: bottom;
}

.mlt-http-error-desc {
    grid-area: error-desc;
    letter-spacing: .15vmin;
    font-size: 2.7vmin;
    color: var(--gray-2);
    text-align: center;

    align-items: top;
}
