.mlt-resume-container {
	height: max-content;
	height: fit-content;
	height: -moz-fit-content;
    width: var(--max-width);
    max-width: var(--max-width);
    position: relative;
    margin: auto;
    margin-top: var(--top-offset-resume-small);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 641px) {
    .mlt-resume-container {
        margin-top: var(--top-offset-resume);
    }
}

.mlt-resume-section {
    overflow: visible;
}

.mlt-resume-section:after {
    display: block;
    content: " ";
    clear: both;
    width: 100%;
    margin-bottom: 2vmin;
}