.mlt-resume-container {
	height: max-content;
	height: fit-content;
	height: -moz-fit-content;

    /* margin-top: var(--top-offset-resume-small); */
    margin-top: var(--top-offset-resume);
    max-width: 100%;
    
    padding-left: 1.5em;
    padding-right: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 641px) {
    .mlt-resume-container {
        max-width: 100%;
        /* margin-top: var(--top-offset-resume); */
    }
}

.mlt-resume-section {
    overflow: visible;
    position: relative;
}

.mlt-resume-section:after {
    display: block;
    content: " ";
    clear: both;
    width: 100%;
    margin-bottom: 1em;
}