/* Modify the input and button stylings */
input {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    margin: 0 0 0 .6em;
    padding: 0.3em .6em 0.2em 0.6em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25em;
}

input:focus-visible {
    outline: 1px solid white;
}

input::placeholder {
    color: white;
    opacity: .4;

}

/* Remove Arrows/Spinners for 'number' <input>: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove Arrows/Spinners for 'number' <input>: Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Slider */
.input-progress-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #8cb1df;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    padding: .1em 0;
    margin: 0;
}

.input-progress-slider:hover {
    opacity: 1;
}

.input-progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background-color: #234d80;
    cursor: pointer;
}

.input-progress-slider::-moz-range-thumb {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    cursor: pointer;
}

/* Grid containers */
.tasks-nav,
.task-container {
    display: grid;
    grid-gap: .3em;

    padding: 0;
    border: 0 solid white;
    outline: .3em solid white;
    background-color: white;
    border-radius: .3em;
    overflow: hidden;
    min-width: 260px;
    max-width: 600px;
    margin: 2.2em auto;

    transition: box-shadow 1s;
}

@media screen and (max-width: 600px) {
    .tasks-nav,
    .task-container {
        margin: 2em .6em;
    }
}

.tasks-nav:hover,
.task-container:hover {
    box-shadow: 0px 0 12px 3px #558dd1;
    transition: box-shadow .6s;
}


/* Navigator grid */
.tasks-nav {
    grid-template:
        [header-left] "label label     label     label   label save-all reload new" 3em [header-right]
        [header-left] "total completed new-tasks unsaved empty empty    lock   new" 3em [header-right]        
        / 5.5em 5.5em 5.5em 5.5em 1fr 2.6em 2.6em 5.5em;
}


.tasks-nav-label {
    grid-area: label;
}

.tasks-nav-label p {
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1;
}

@media screen and (min-width: 600px) {
    .tasks-nav-label p {
        font-size: 1.4em;
    }
}

.tasks-nav-add-new {
    grid-area: new;
    font-size: 1.6em;
    background-image: url('./assets/file-circle-plus.svg');
    background-size: 1.6em;
    background-repeat: no-repeat;
    background-position: 60% center;
}

.tasks-nav-save-all {
    grid-area: save-all;
    background-image: url('./assets/file-arrow-up.svg');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

.tasks-nav-reload {
    grid-area: reload;
    background-image: url('./assets/arrow-rotate-right.svg');
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: center;
}

.tasks-nav-lock-all {
    grid-area: lock;
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: center;
}

.tasks-nav-lock-all-locked {
    background-image: url('./assets/lock.svg');
}

.tasks-nav-lock-all-unlocked {
    background-image: url('./assets/unlock.svg');
}

.task-nav-paragraph-container p {
    margin: 0;
}

.task-nav-placeholder { 
    grid-area: empty;
    background-color: #adadad;
}

.task-nav-total-tasks { 
    grid-area: total;
    background-color: #adadad;
}

.task-nav-completed-tasks { 
    grid-area: completed;
    background-color: #adadad;
}

.task-nav-new-tasks { 
    grid-area: new-tasks;
    background-color: #adadad;
}

.task-nav-unsaved-tasks { 
    grid-area: unsaved;
    background-color: #adadad;
}

.nav-label {
    background-color: #d3d3d3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Task Grid */
.task-container {
    grid-template:
        [header-left] "title title title lock copy save" 3em [header-right]
        [main-left] "percent slider slider slider slider slider" 3em [main-right] 
        [footer-left] "note note note remove remove clone" 3em [footer-right] 
        / 10.4em 1fr 3em 2.1em 2.1em 5em;
}

.task-container.locked-task {
    grid-template:
        [header-left] "title title percent-locked lock copy save" 3em [header-right]
        / 10.4em 1fr 3em 2.1em 2.1em 5em;
}

.task-title {
    grid-area: title;
    background-color: #d3d3d3;
}

.task-title-percent-locked { 
    display: none;
    grid-area: percent-locked;
    background-color: #adadad;
}

.locked-task .task-title-percent-locked {
    display: flex;
}

.task-percent {
    grid-area: percent;
    background-color: #d3d3d3;
}

.task-slider {
    grid-area: slider;
    background-color: #f1f1f1;
}

.task-note {
    grid-area: note;
    background-color: #d3d3d3;
}

.task-completed,
.task-save {
    grid-area: save;
}

.task-remove-cancel,
.task-remove {
    grid-area: remove;
}

.task-remove-confirm,
.task-clone {
    grid-area: clone;
}

.task-lock {
    grid-area: lock;
}

.task-copy-json {
    grid-area: copy;
}

.task-to-remove .task-remove-cancel,
.task-to-remove .task-remove-confirm,
.completed-task .task-completed {
    display: flex;
}

.locked-task .task-remove,
.locked-task .task-remove-cancel,
.locked-task .task-remove-confirm,
.locked-task .task-clone,
.locked-task .task-percent,
.locked-task .task-slider,
.locked-task .task-note {
    display: none;
}

/* Task elements content positioning */
.task-element {
    padding: .1em .8em 0;
    display: flex;
    align-items: center;
}

.task-btn {
    background-color: #d3d3d3;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-completed {
    display: none;
    filter: brightness(1.5) saturate(2);
}

.task-remove-cancel,
.task-remove-confirm {
    display: none;
}

.task-completed {
    background-image: url('./assets/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.4em;
}

.input-progress-number {
    width: 3em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.input-task-title,
.input-task-note {
    width: -webkit-fill-available;
    min-width: 100px;
}

.input-progress-number,
.input-task-title,
.input-task-note {
    transform: translateY(-1.5px);
}

/* Additional visual effects */
.input-task-title {
    font-weight: 500;
    letter-spacing: 1px;
}

.input-task-note {
    font-weight: 300;
    letter-spacing: 1px;
}

.task-remove {
    color: #ffffffcc !important;
}

.task-btn {
    transition: background-color .4s, box-shadow .4s;
}

.task-btn:hover {
    transition: background-color .6s;
}

.task-lock {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    color: rgba(255, 255, 255, 0.8);
}
.task-locked {
    background-image: url('./assets/lock.svg');
}

.task-unlocked {
    background-image: url('./assets/unlock.svg');
}

.task-copy-json {
    background-image: url('./assets/clipboard.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    color: rgba(255, 255, 255, 0.8);
}

.task-copy-json.task-copied {
    background-image: url('./assets/check.svg');
    background-size: 1em;
    transition: background-color 0s, box-shadow 0s;
}

.task-copy-json.task-copied:hover {
    background-color: #6f9fd8 !important;
    transition: background-color 0s, box-shadow 0s;
}

.task-copy-json:hover {
    transition: background-color .2s, box-shadow 0s;
}

.task-copy-json.task-copy-rejected {
    background-image: url('./assets/xmark.svg');
    background-size: 1em;
}

/* Task state responses (some aspects of the response behavior id already defined above) */
.task-to-remove,
.new-task-not-saved {
    filter: sepia(.3) brightness(.95) saturate(1.5);
}

.tasks-nav-reload:hover,
.task-copy-json.task-copy-rejected,
.task-changed-not-saved:not(.new-task-not-saved) .task-save {
    /* filter: sepia(.3) brightness(.95) saturate(1.1);
    box-shadow: inset 0px 0 80px 0px #ff5722; */
    background-color: #d96340 !important;
}

.task-to-remove .task-remove-confirm,
.new-task-not-saved .task-save {
    box-shadow: inset 0px 0 80px 0px #ff5722;
}

.new-task-not-saved .task-save:hover {
    box-shadow: none;
}

.completed-task {
    filter: grayscale(.7) brightness(.9) saturate(1.2);
    opacity: 0.7;
}

.completed-task .task-remove-confirm {
    filter: brightness(1.1) saturate(5);
}

.task-title-percent-locked sup {
    position: relative;
    top: -.25em;
    right: -.15em;
}

@media screen and (max-width: 560px) {
    .tasks-nav {
        grid-template:
            [header-left] "label label     label   label save-all reload new" 3em [header-right]
            [header-left] "total completed unsaved empty empty    lock   new" 3em [header-right]        
            / 5.5em 5.5em 5.5em 1fr 2.6em 2.6em 5.5em;
    }

    .task-nav-new-tasks { 
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .tasks-nav {
        grid-template:
            [header-left] "label label     label save-all reload new" 3em [header-right]
            [header-left] "total completed empty empty    lock   new" 3em [header-right]        
            / 5.5em 5.5em 1fr 2.6em 2.6em 5.5em;
    }

    .task-nav-unsaved-tasks { 
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .tasks-nav {
        grid-template:
            [header-left] "label label     label save-all reload new" 3em [header-right]
            [header-left] "total completed empty empty    lock   new" 3em [header-right]        
            / 5.5em 5.5em 1fr 2.6em 2.6em 3em;
    }

    .tasks-nav-add-new {
        background-size: 1.2em;
    }

    .task-container {
        grid-template:
            [header-left] "title title title lock copy save" 3em [header-right]
            [main-left] "percent slider slider slider slider slider" 3em [main-right] 
            [footer-left] "note note note remove remove clone" 3em [footer-right] 
            / 8.4em 1fr 3em 2.1em 2.1em 3.2em;
    }
    
    .task-container.locked-task {
        grid-template:
            [header-left] "title title percent-locked lock copy save" 3em [header-right]
            / 8.4em 1fr 3em 2.1em 2.1em 3.2em;
    }

    .task-element {
        padding: .1em .3em 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 340px) {
    .tasks-nav {
        grid-template:
            [header-left] "label label     reload new" 3em [header-right]
            [header-left] "total completed lock   new" 3em [header-right]        
            / 1fr 1fr 2.6em 3em;
    }

    .task-container {
        grid-template:
            [header-left] "title title title lock save" 3em [header-right]
            [main-left] "percent slider slider slider slider" 3em [main-right] 
            [footer-left] "note note remove remove clone" 3em [footer-right] 
            / 8.8em 1fr 2em 2.1em 3em;
    }
    
    .task-container.locked-task {
        grid-template:
            [header-left] "title title percent-locked lock save" 3em [header-right]
            / 2.4em 1fr 2.8em 2.1em 3em;
    }

    .task-nav-placeholder,
    .tasks-nav-save-all,
    .task-copy-json {
        display: none;
    }
}