/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable function-no-unknown */

/**
 * @clues
 theme("screens.xs420")
 theme("colors.mlt-purple-secondary_tr1")
 */

@font-face {
	font-family: Unicephalon;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Unicephalon/unicephalon.heavy.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: MultivacInterference;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Unicephalon/multivac.interference.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: MultivacGhost;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Unicephalon/multivac.ghost.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: Sector017;
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Unicephalon/sector-017.regular.ttf") format("truetype");
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;

		--radius: 0.5rem;

		accent-color: theme("colors.mlt-blue-primary");
		--scrollbar-width: 16px;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;

		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;

		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;

		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;

		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;

		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-mlt-dark-3 text-mlt-gray-4;
	}
}

body {
	@apply bg-mlt-dark-3 text-mlt-gray-4;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: 240px;
	/* height: 100vh; */
}

@media screen and (width <= theme("screens.xs320")) {
	body {
		overflow-x: auto;
	}
}

/* Main Layout*/
.app {
	overflow-x: hidden;
	overflow-y: overlay;
}

@media screen and (width > theme("screens.xs420")) {
	.app_flex_container {
		height: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

.nav_container {
	@apply relative flex justify-between items-center w-full h-[62px] bg-mlt-dark-4 px-4 py-3;
	box-sizing: border-box;
	z-index: 1;
	box-shadow: 0 2px 6px 3px theme("colors.mlt-dark-3");
}

.content_container {
	@apply flex-1 flex-grow overflow-x-hidden overflow-y-auto py-32 px-3 xs420:px-6 w-full max-w-4xl mx-auto min-h-[calc(100vh-62px-58px)];
}

.footer_container {
	@apply relative flex items-center justify-center w-full h-[58px] overflow-hidden;
	z-index: 1;
	box-shadow: 0 -2px 6px 3px theme("colors.mlt-dark-3");
}

/* Scroll bars */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.mlt-blue-primary") transparent;
	scrollbar-width: auto;
}

*::-webkit-scrollbar {
	width: var(--scrollbar-width);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	border: calc(var(--scrollbar-width) / 2.8) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.mlt-gray-1");
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: theme("colors.mlt-blue-primary");
}

*::-webkit-scrollbar-corner {
	background-color: theme("colors.mlt-dark-6");
}

/* Common styles */
.emphasize_drop_shadow {
	/* filter: drop-shadow(1px 2px 3px theme("colors.mlt-dark-1")); */
	filter: drop-shadow(1px 2px 2px theme("colors.mlt-dark-1"));
}

.clear_after::after {
	content: "";
	display: table;
	clear: both;
	overflow: hidden;
}

/* Nav items */
.nav_item_common {
	@apply transition-colors duration-100;
}

.nav_item_common:hover {
	@apply transition-colors duration-200;
}

.nav_item {
	@apply font-Unicephalon h-full text-[18px] pt-[3px] hover:text-mlt-blue-primary active:text-mlt-purple-primary;
}

.nav_item_side_menu {
	@apply font-Unicephalon h-full text-[18px] hover:text-mlt-blue-primary active:text-mlt-purple-primary;
}

.private_menu_item {
	@apply p-3 block rounded;
}

.private_menu_item + .private_menu_item {
	@apply mt-1;
}

.private_menu_item:hover {
	@apply bg-mlt-gray-6/10;
}

/* Site Logo */
.logo-cls_mlt-gray-1 {
	fill: theme("colors.mlt-gray-1");
}

.logo-cls_mlt-gray-2 {
	fill: theme("colors.mlt-gray-2");
}

.logo-cls_mlt-gray-3 {
	fill: theme("colors.mlt-gray-3");
}

.logo_container .logo-cls_mlt-blue-primary,
.logo_container .logo-cls_mlt-purple-primary {
	@apply transition-colors duration-100;
}

.logo_container:hover .logo-cls_mlt-blue-primary {
	@apply transition-colors duration-200;
	color: theme("colors.mlt-blue-primary");
	fill: theme("colors.mlt-blue-primary");
}

.logo_container:hover .logo-cls_mlt-purple-primary {
	@apply transition-colors duration-200;
	color: theme("colors.mlt-purple-primary");
	fill: theme("colors.mlt-purple-primary");
}

/* Footer */
.footer_icon {
	opacity: 0.85;

	display: inline-block;
	padding: 0.8em 0.8em;
	color: transparent;
	text-decoration: none;
}

.footer_icon > img {
	transition: transform 0.3s ease-in-out;
	width: 2rem;
	height: 2rem;
}

@media screen and (max-width: theme("screens.xs320")) {
	.footer_icon {
		padding: 0.7em 0.6em;
	}
	.footer_icon > img {
		width: 1.7rem;
		height: 1.7rem;
	}
}

.footer_icon:hover > img {
	transform: scale(1.4);
	transition: transform 0.2s ease-in-out;
}

.footer_special_icon {
	transform: scale(1.05);
	filter: drop-shadow(1px 2px 3px theme("colors.mlt-dark-1"));
}

/* Fancy styles */

.red_gradient {
	@apply bg-gradient-to-r from-red-500 via-red-700 to-red-600 bg-clip-text text-transparent;
}

.orange_gradient {
	@apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
	@apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
	@apply bg-gradient-to-r from-mlt-blue-primary to-mlt-purple-primary bg-clip-text text-transparent;
}

/* https://tailwindcss-glassmorphism.vercel.app/ */
.glassmorphism {
	/* @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5; */
	@apply rounded-xl border-2 border-mlt-purple-secondary/40 bg-mlt-purple-secondary/10
	shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] drop-shadow-lg backdrop-blur p-5;
}

/* To be removed */
.feed {
	@apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

.form_input_title {
	@apply font-Unicephalon font-semibold text-base text-mlt-dark-6;
}

.form_input {
	@apply w-full flex rounded-lg mt-2 p-3 text-base text-mlt-dark-0 opacity-70 outline-0 active:drop-shadow-lg focus:drop-shadow-lg transition-all duration-300 active:opacity-95 focus:opacity-95 hover:opacity-95 active:text-mlt-dark-4 focus:text-mlt-dark-4 focus:outline-0;
}

.form_input:focus-visible {
	outline: none;
}

.search_input {
	@apply opacity-100 active:opacity-100 focus:opacity-100 drop-shadow-md
	border-2 border-mlt-purple-secondary/30 font-medium text-mlt-dark-5
	active:border-mlt-purple-secondary/60 focus:border-mlt-purple-secondary/60;
}

.form_textarea {
	@apply h-[180px] min-h-[50px];
}

.input_file_wrapper {
	@apply w-full flex rounded-lg mt-2 px-3 py-2 outline-0 gap-3 items-center justify-center
	text-lg text-mlt-purple-secondary/100
	active:drop-shadow-lg focus:drop-shadow-lg hover:drop-shadow-lg 
	transition-all duration-300 cursor-pointer
	bg-white opacity-70 active:opacity-70 focus:opacity-70 hover:opacity-95
	border-2 border-mlt-purple-secondary/30 active:border-mlt-purple-secondary/30 focus:border-mlt-purple-secondary/30 hover:border-mlt-purple-secondary/60;

	letter-spacing: 0.4px;
}

.input_file_wrapper input[type="file"] {
	display: none;
}

.search_input_container {
	@apply w-full flex justify-center items-center relative;
}

.wipe_search_btn {
	@apply absolute z-10 right-4 translate-y-[3.5px] hover:brightness-75 hover:saturate-150 transition-all hover:drop-shadow-lg duration-300;
}

.search_filters_container {
	@apply w-full pl-0.5 flex items-center justify-between gap-1 mt-1 text-mlt-dark-6 flex-col xs:flex-row;
}

.post_card_list {
	@apply gap-8 mt-16 w-full
				md:w-max
				lg:gap-10
				2xl:gap-12
				min-h-[10rem];
}

.post_card {
	@apply flex-1 break-inside-avoid rounded-xl border-2 border-mlt-gray-5/80 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit 
	drop-shadow-md shadow-[inset_10px_-50px_94px_0_rgb(176,123,255,0.1)]
	mb-8 lg:mb-10 2xl:mb-12
	transition-all;
}

.post_card_header {
	@apply grid justify-start gap-3 cursor-pointer flex-row items-center z-10;

	grid-template-columns: 56px 1fr;
}

.post_card_del_mode {
	@apply flex-1 break-inside-avoid rounded-xl border-2 border-red-300/80 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit 
	transition-all duration-300 
	drop-shadow-md shadow-[inset_10px_-50px_94px_0_rgb(252,165,165,0.1)];
}

.post_card_list .post_card {
	@apply md:max-w-[340px] 
				md820:max-w-[380px] 
				lg:max-w-[460px]
				xl:max-w-[480px]
				2xl:max-w-[420px];
}

.post_card_prompt {
	@apply mb-6 rounded-3xl bg-white/60 hover:bg-white/90 p-4 transition-all duration-300 cursor-pointer select-none text-mlt-dark-2 relative;

	z-index: 1;
}

.post_card_prompt_wit_image::after {
	@apply rounded-3xl rounded-b-none bg-gradient-to-b from-[#f7f7f7] via-[1.6rem] via-[#f7f7f7] to-white/0;

	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 3.2rem;
	z-index: -1;
}

.post_card_prompt_text {
	@apply hyphens-auto pr-3.5 block 2xl:max-h-[146px] overflow-y-auto overflow-x-hidden scroll-smooth;
}

.post_card_prompt_text::-webkit-scrollbar-thumb {
	border: calc(var(--scrollbar-width) / 2.8) solid transparent;
	border-top: 1.2rem solid transparent;
	border-right: 0.31rem solid transparent;
	border-left: 0.4rem solid transparent;
	border-radius: 0;
}

.post_card_image_container {
	@apply mt-6;
}

.post_card_image {
	@apply rounded-3xl rounded-b-none w-full 2xl:h-auto max-h-96 object-cover m-0;
}

.post_card_edit_section {
	@apply w-full flex items-center flex-row justify-end mt-6 pt-4 border-t-2 border-t-mlt-gray-5/80;
}

.form_error {
	@apply text-red-500 text-xs italic pt-2;
}

.post_button {
	@apply py-0.5 px-2 inline-block rounded-full cursor-pointer select-none transition-colors duration-200 active:scale-95 bg-opacity-60 hover:bg-opacity-100 active:bg-opacity-80;
}

/* Shadcn-UI components style */
.close_btn {
	@apply absolute right-4 top-4 rounded-sm opacity-95 ring-offset-mlt-dark-4 transition-opacity hover:opacity-100 focus:outline-none focus:ring-1 focus:ring-mlt-blue-secondary focus:bg-mlt-blue-secondary/50 hover:bg-mlt-blue-secondary/50 focus:ring-offset-4 disabled:pointer-events-none data-[state=open]:bg-secondary data-[state=open]:text-muted-foreground;
}

.close_btn_x {
	@apply h-8 w-8 emphasize_drop_shadow;
	/* text-mlt-blue-primary */
}
