@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* https://www.w3schools.com/colors/colors_hsl.asp */
	:root {
		--background: 0 0% 96%;
		--foreground: 0 0% 20%;
		--foreground-secondary: 0 0% 40%;
		--foreground-tertiary: 0 0% 50%;
		--foreground-quaternary: 0 0% 60%;

		--primary: 0 0% 86%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 0 0% 72%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 216 64% 59%;
		--accent-foreground: 0 0% 5%;

		--accent: 216 64% 59%;
		--accent-secondary: 264 59% 63%;
		--accent-tertiary: 32 100% 50%;
		--accent-foreground: 0 0% 5%;

		// --ring: 216 100% 72%;
		// --ring-secondary: 264 100% 74%;
		--ring: 216 100% 68%;
		--ring-secondary: 265 100% 74%;

		--card: var(--primary);
		--card-foreground: var(--foreground);

		--popover: var(--secondary);
		--popover-foreground: var(--foreground);

		--muted: 0 0% 65%;
		--muted-secondary: 0 0% 60%;
		--muted-foreground: 0 0% 30%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;

		--border: var(--secondary);
		--input: var(--secondary);

		--radius: 0.5rem;
		--scrollbar-width: 0.86rem;

		--navbar-height: 3.875rem;
		--footer-height: 3.625rem;
		--content-height: calc((var(--vh, 1vh) * 99.5) - var(--navbar-height) - var(--footer-height));
	}

	.light-brown {
		--foreground: 34 30% 33%;
		--foreground-secondary: 34 30% 39%;
		--foreground-tertiary: 34 30% 42%;
		--foreground-quaternary: 34 30% 45%;

		--background: 34 30% 95%;
		--primary: 34 30% 89%;
		--secondary: 34 30% 82%;

		--accent: 26 100% 50%;
		--accent-secondary: 13 76% 44%;
		// --accent-tertiary: 32 100% 50%;
		// --accent-foreground: 0 0% 5%;

		--ring: 32 100% 50%;
		--ring-secondary: 23 76% 44%;

		--muted: 34 30% 65%;
		--muted-secondary: 34 30% 60%;
		--muted-foreground: 34 30% 30%;
	}

	.dark {
		--background: 0 0% 20%;
		--foreground: 0 0% 85%;
		--foreground-secondary: 0 0% 65%;
		--foreground-tertiary: 0 0% 55%;
		--foreground-quaternary: 0 0% 45%;

		--primary: 0 0% 24%;
		--primary-foreground: 0 0% 52%;

		--secondary: 0 0% 16%;
		--secondary-foreground: 0 0% 48%;

		// --accent: 216 64% 59%;
		// --accent-secondary: 264 59% 63%;
		// --accent-tertiary: 32 100% 50%;
		// --accent-foreground: 0 0% 5%;

		// --ring: 216 100% 72%;
		// --ring-secondary: 264 100% 74%;

		--card: var(--primary);
		--card-foreground: var(--foreground);

		--popover: var(--secondary);
		--popover-foreground: var(--foreground);

		--muted: 0 0% 14%;
		--muted-secondary: 0 0% 8%;
		--muted-foreground: 0 0% 50%;

		--destructive: 0 75% 55%;
		--destructive-foreground: 210 20% 98%;

		--border: var(--secondary);
		--input: var(--secondary);
	}
}

@import "./globals.variables.module.scss";

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		min-width: 320px;

		overflow-x: auto;

		@screen 6xs {
			overflow-x: hidden;
		}

		@screen sm {
			overflow-y: hidden;
		}
	}
}

// textarea:focus,
[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
select:focus {
	--tw-ring-color: hsl(var(--ring));
	border-color: hsl(var(--ring));
}

input:placeholder-shown {
	text-overflow: ellipsis;
}

/* Trick the hidden scroll of Radix Select */
body [data-radix-select-viewport] {
	-webkit-overflow-scrolling: scroll;
	scrollbar-width: 2rem;
	-ms-overflow-style: scroll;
}

body [data-radix-select-viewport]::-webkit-scrollbar {
	display: inherit;
}

/* Outline */
:focus-visible,
:focus {
	outline-color: hsl(var(--ring));
}

/* Text selection */
*::selection:not(.w-md-editor-text-input) {
	background: hsl(var(--accent-tertiary));
	color: hsl(var(--accent-foreground));
}

/* Scroll bars */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	scrollbar-color: theme("colors.muted.DEFAULT") transparent;
	scrollbar-width: auto;
}

.dark * {
	scrollbar-color: theme("colors.gray.300") transparent;
}

*::-webkit-scrollbar {
	width: calc(var(--scrollbar-width) / 1.1);
	height: calc(var(--scrollbar-width) / 1.1);
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
	height: 52px;
	border: calc(var(--scrollbar-width) / 4.2) solid transparent;
	border-radius: var(--scrollbar-width);
	background-color: theme("colors.muted.DEFAULT");
	background-clip: content-box;
}

.dark *::-webkit-scrollbar-thumb {
	background-color: theme("colors.gray.300");
}

*::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--accent));
}

*::-webkit-scrollbar-corner {
	background-color: hsl(var(--primary-foreground));
}

/* Logo */
.logoContainer {
	@apply transition-colors duration-300 outline-none focus-visible:outline-none focus:outline-none;
}

.cls-1 {
	fill: #787878;
}

.cls-4,
.cls-5,
.cls-4-gray,
.cls-5-gray,
.cls-2 {
	fill: #b4b4b4;
}

.cls-4,
.cls-5,
.cls-4-gray,
.cls-5-gray {
	@apply fill-foreground;
}

.cls-3 {
	fill: #a0a0a0;
}

.logoContainer .cls-4,
.logoContainer .cls-5,
.logoContainer:hover .cls-4,
.logoContainer:hover .cls-5 {
	@apply transition-colors duration-300;
}

.cls-4-color,
.logoContainer:hover .cls-4 {
	// fill: #5d9fff;
	// fill: hsl(216 100% 68%);
	fill: theme("colors.ring.DEFAULT");
}

.cls-5-color,
.logoContainer:hover .cls-5 {
	// fill: #b27bff;
	fill: hsl(265 100% 74%);
	fill: theme("colors.ring.secondary");
}

/**
 * NOTE: using syntax with exclamation mark
 * like "hover:!bg-slate-500",
 * causes an error in the .scss files!
 */

/* Common styles */
.emphasize_drop_shadow {
	/* filter: drop-shadow(1px 2px 3px theme("colors.mlt-dark-1")); */
	filter: drop-shadow(1px 2px 2px theme("colors.muted.secondary"));
}

.margin_vh_top {
	margin-top: vh(9);
}

.margin_vh_middle {
	margin-top: vh(4);
}

.margin_vh_bottom {
	margin-bottom: vh(7);
}

/* Switch IconEmbedSvg colors */

.icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.secondary.DEFAULT");
}

.icon_accent_secondary .icon-embed-svg-override-path-2 {
	fill: theme("colors.ring.secondary");
}

.dark .icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.foreground.quaternary");
}

.light-brown .icon_accent_secondary .icon-embed-svg-override-path-1,
.light .icon_accent_secondary .icon-embed-svg-override-path-1 {
	fill: theme("colors.foreground.tertiary");
}

/* @/components/ui */
.toast_pre_info {
	@apply mt-2 rounded-md bg-secondary p-4 max-w-full w-full overflow-x-auto;
}

.btn_close_x {
	@apply h-8 w-8 text-accent saturate-200 brightness-110 emphasize_drop_shadow
		right-4 top-4 rounded-sm hover:opacity-100 transition-opacity
		ring-offset-background focus-visible:ring-offset-background
		focus:outline-none focus:ring-1 focus:ring-ring focus:bg-ring/30
		hover:bg-ring/30 focus:ring-offset-4 disabled:pointer-events-none data-[state=open]:bg-secondary data-[state=open]:text-muted-foreground;
}

/**
 * Google reCaptcha
 * @see https://github.com/pa4080/animated-portfolio/blob/b2f617bb8deaa4ad6a91937003cee6033ef033c2/components/contact/ContactForm.tsx#L175
 */
.grecaptcha-badge {
	box-shadow: theme("colors.muted.DEFAULT") 0px 0px 5px !important;
	@apply transition-all duration-300;
	translate: 100px -60px;
}

/* Typography */
.section_title {
	@apply font-unicephalon text-foreground-secondary text-3xl px-1 mb-6;
}

/* Markdown Editor */
body .w-md-editor {
	border-radius: theme("borderRadius.md");
}

body .w-md-editor-toolbar {
	border-radius: theme("borderRadius.md") theme("borderRadius.md") 0 0;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input,
body .w-md-editor-preview > * {
	font-size: 1.1rem !important;
	line-height: 1.5em !important;
	// color: $foreground;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
	color: $foreground;
	letter-spacing: 0.5px !important;
}

body .w-md-editor-text-pre,
body .w-md-editor-text-input,
body .w-md-editor-text > .w-md-editor-text-pre {
	font-family: $font-inter !important;
	// color: $foreground !important;
}

body textarea.w-md-editor-text-input,
body textarea.w-md-editor-text-input:active,
body textarea.w-md-editor-text-input:focus {
	color: $foreground;
	outline: unset !important;
	--tw-ring-color: transparent !important;
	border-color: unset !important;
	font-feature-settings: unset !important;
	font-variation-settings: unset !important;
	text-shadow: none !important;
	box-shadow: none !important;
}

body .w-md-editor {
	box-shadow: none !important;
}

/* Markdown Processed to HTML */
.md-processed-to-html {
	@apply text-foreground-secondary hyphens-auto xa:text-justify sa:text-[1.06rem] sa:leading-[1.5em];

	a,
	a:visited {
		@apply text-ring;
	}

	a:hover {
		@apply underline text-ring-secondary;
	}

	p {
		@apply mb-4;

		strong {
			@apply text-foreground font-semibold;
		}
	}

	p:last-of-type {
		@apply mb-0;
	}
}

/* Icons */
.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	margin: 0 0.1em;

	-webkit-mask-size: cover;
	mask-size: cover;
}

.i-default-bg {
	background-color: theme("colors.foreground.DEFAULT");
}

.i-full-star {
	-webkit-mask: url("/assets/icons/ui/star.svg") no-repeat 50% 50%;
	mask: url("/assets/icons/ui/star.svg") no-repeat 50% 50%;
}

.i-half-star {
	-webkit-mask: url("/assets/icons/ui/star-half-stroke.svg") no-repeat 50% 50%;
	mask: url("/assets/icons/ui/star-half-stroke.svg") no-repeat 50% 50%;
}

.i-no-star {
	-webkit-mask: url("/assets/icons/ui/star-stroke.svg") no-repeat 50% 50%;
	mask: url("/assets/icons/ui/star-stroke.svg") no-repeat 50% 50%;
}

/* Collapsible items (see components/fragments/toggle-collapsible) */
.section-card-collapsible {
	display: none;
}

.expand-collapsed.list-section .section-card-collapsible {
	display: inherit;
}

/* Format HTML tags defined in the locale.json files */
.json-desc {
	b {
		@apply text-foreground;
	}

	code {
		@apply tracking-wide;
	}

	& + & {
		@apply mt-2;
	}
}

/**
 * CSS Animations
 * > https://www.youtube.com/watch?v=UmzFk68Bwdk
 */
@supports (animation-timeline: view()) {
	@media (prefers-reduced-motion: no-preference) {
		#section_resume .md-processed-to-html p,
		.pop-header,
		.pop-item:not(.expand-collapsed-current.expand-collapsed) {
			animation: fadeInPopItem ease-out forwards;
			// transform-origin: bottom left;
			// animation-timeline: view(95% -35%);
			animation-timeline: view();
			animation-range-start: calc($footer-height * -3.6);
			animation-range-end: calc($footer-height * 1.8);
			// contain; entry; entry 200px; exit; entry-crossing; normal
		}

		.pop-header {
			animation-range-end: calc($footer-height * 1.4);
		}

		@keyframes fadeInPopItem {
			0% {
				scale: 0.3;
				opacity: 0.5;
				translate: 0 40%;
				filter: grayscale(1);
			}
			95%,
			100% {
				scale: 1;
				opacity: 1;
				translate: 0 0;
				filter: grayscale(1);
			}
			98%,
			100% {
				filter: grayscale(0);
			}
		}
	}
}
