// Colors
$background: hsl(var(--background));
$foreground: hsl(var(--foreground));

$foreground-secondary: hsl(var(--foreground-secondary));
$foreground-tertiary: hsl(var(--foreground-tertiary));
$foreground-quaternary: hsl(var(--foreground-quaternary));

$primary: hsl(var(--primary));
$primary-foreground: hsl(var(--primary-foreground));

$secondary: hsl(var(--secondary));
$secondary-foreground: hsl(var(--secondary-foreground));

$accent: hsl(var(--accent));
$accent-foreground: hsl(var(--accent-foreground));

$accent: hsl(var(--accent));
$accent-secondary: hsl(var(--accent-secondary));
$accent-tertiary: hsl(var(--accent-tertiary));
$accent-foreground: hsl(var(--accent-foreground));

$ring: hsl(var(--ring));
$ring-secondary: hsl(var(--ring-secondary));

$card: hsl(var(--card));
$card-foreground: hsl(var(--card-foreground));

$popover: hsl(var(--popover));
$popover-foreground: hsl(var(--popover-foreground));

$muted: hsl(var(--muted));
$muted-secondary: hsl(var(--muted-secondary));
$muted-foreground: hsl(var(--muted-foreground));

$destructive: hsl(var(--destructive));
$destructive-foreground: hsl(var(--destructive-foreground));

$border: hsl(var(--border));
$input: hsl(var(--input));

$radius: hsl(var(--radius));
$scrollbar-width: hsl(var(--scrollbar-width));

// Fonts
$font-unicephalon: var(--font-unicephalon), "serif";
// $font-sans: var(--font-geist-sans), "sans-serif";
// $font-mono: var(--font-geist-mono), "monospace";
// $font-geist-sans: var(--font-geist-sans), "sans-serif";
// $font-geist-mono: var(--font-geist-mono), "monospace";
// $font-inter: var(--font-inter), "sans-serif";
$font-poppins: var(--font-poppins), "sans-serif";
// $font-robotoSlab: var(--font-roboto-slab), "serif";

// functions
@function vh($quantity) {
	@return calc(var(--vh, 1vh) * #{$quantity});
}

// Sizes
$navbar-height: var(--navbar-height);
$footer-height: var(--footer-height);
$content-height: var(--content-height);

:export {
	// Colors
	background: $background;
	foreground: $foreground;
	foregroundSecondary: $foreground-secondary;
	foregroundTertiary: $foreground-tertiary;
	foregroundQuaternary: $foreground-quaternary;
	primary: $primary;
	primaryForeground: $primary-foreground;
	secondary: $secondary;
	secondaryForeground: $secondary-foreground;
	accent: $accent;
	accentForeground: $accent-foreground;
	accent: $accent;
	accentSecondary: $accent-secondary;
	accentTertiary: $accent-tertiary;
	accentForeground: $accent-foreground;
	ring: $ring;
	ringSecondary: $ring-secondary;
	card: $card;
	cardForeground: $card-foreground;
	popover: $popover;
	popoverForeground: $popover-foreground;
	muted: $muted;
	mutedSecondary: $muted-secondary;
	mutedForeground: $muted-foreground;
	destructive: $destructive;
	destructiveForeground: $destructive-foreground;
	border: $border;
	input: $input;
	radius: $radius;
	scrollbarWidth: $scrollbar-width;

	// Fonts
	fontUnicephalon: $font-unicephalon;
	// fontSans: $font-sans;
	// fontMono: $font-mono;
	// fontGeistSans: $font-geist-sans;
	// fontGeistMono: $font-geist-mono;
	// fontInter: $font-inter;
	fontPoppins: $font-poppins;
	// fontRobotoSlab: $font-robotoSlab;

	// Functions
	vh: vh;

	// Sizes
	navbarHeight: $navbar-height;
	footerHeight: $footer-height;
	contentHeight: $content-height;
}
