@import "@/app/(styles)/globals.variables.module.scss";

.cardWrapper {
	&:global(.expand-collapsed.file-card) :global(.card-item-thumb) {
		@apply absolute top-0 left-0 my-2 sm:my-0 opacity-0;
	}
}

.card {
	@apply grid relative gap-x-3 sm:gap-x-6 gap-y-2 sm:gap-y-2;

	/* stylelint-disable declaration-block-no-redundant-longhand-properties -- Reason: Expected shorthand property "grid-template" */
	grid-template-areas:
		"header header"
		"image info";
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;

	:global(.expand-collapsed.file-card) & {
		grid-template-areas:
			"header"
			"info"
			"image"
			"content";
		grid-template-rows: auto auto auto 1fr;
		grid-template-columns: auto;
	}

	/* stylelint-disable-next-line order/order */
	@screen sm {
		grid-template-areas:
			"image header"
			"image info"
			"image content";
		grid-template-rows: auto auto 1fr;
		grid-template-columns: auto 1fr;

		:global(.expand-collapsed.file-card) & {
			grid-template-areas:
				"image header"
				"image info"
				"image content";
			grid-template-rows: auto auto 1fr;
			grid-template-columns: auto 1fr;
		}
	}
	/* stylelint-enable declaration-block-no-redundant-longhand-properties -- Reason: Expected shorthand property "grid-template" */

	.header {
		@apply w-full;

		grid-area: header;
	}

	.info {
		@apply flex sm:gap-x-3 flex-col sm:flex-row flex-wrap text-sm;

		grid-area: info;

		:global(.expand-collapsed.file-card) & {
			@apply flex-row gap-x-3;
		}

		.dateModified,
		.contentType,
		.size {
			display: inline-block;

			span {
				display: inline-block;
			}

			span + span {
				@apply ml-1;
			}
		}
	}

	.imageContainer {
		@apply flex items-center justify-start sm:justify-end h-full overflow-hidden drop-shadow-2xl w-full select-none relative max-w-[80px];

		grid-area: image;

		:global(.expand-collapsed.file-card) & {
			@apply max-w-[100%] sm:max-w-[320px] justify-center;

			transition: max-width 300ms ease-out;
		}

		.imageLarge {
			@apply h-auto w-[100%] sm:w-[320px] object-contain rounded-md my-2 sm:my-0 animate-zoomInFile origin-top-left z-[1];
		}

		.imageThumb {
			@apply h-[80px] w-[80px] object-cover rounded-md -z-[1];
		}
	}

	.lightPrimaryText {
		@apply text-foreground-secondary;
	}

	.lightSecondaryText {
		@apply text-foreground-quaternary;
	}

	.title {
		@apply text-lg tracking-wide font-semibold hyphens-auto;

		> p:last-of-type {
			@apply mb-0;
		}
	}

	.contentWrapper {
		grid-area: content;

		.content {
			@apply flex flex-col w-full h-full;

			.description {
				@apply w-full flex-grow;
			}

			.attachedTo {
				@apply w-full mt-3 flex flex-wrap gap-1;
			}
		}
	}

	.buttons {
		@apply float-right sm:ml-2 relative h-7;

		.buttonsContainer {
			@apply absolute flex items-center gap-3 2xs:gap-2 right-0 -top-[0.375rem] select-none scale-75 2xs:scale-90 origin-right;
		}
	}
}
