.mlt-contacts-container {
	height: max-content;
	height: fit-content;
	height: -moz-fit-content;

    margin-top: calc(var(--top-offset) - .8em);
    margin-bottom: -.8em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.mlt-contacts-section {
    overflow: visible;
    position: relative;
    
    max-width: var(--max-width);
    width: var(--max-width);
    margin: auto;

    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
    /* max-width: var(--max-width); */
    margin: auto;
}

.mlt-contacts-section:after {
    display: block;
    content: " ";
    clear: both;
    width: 100%;
}