.mlt-error-container {
    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
    width: var(--max-width);
    max-width: var(--max-width);
    margin: auto;
    position: relative;
    margin-top: var(--top-offset);

    display: grid;
    grid-gap: calc(var(--scale-param) * 0.2);
    grid-template:
        "img error-number" calc(var(--scale-param) * 1.9)
        "img error-desc" calc(var(--scale-param) * 0.7)
        / max-content 1fr;
}

.mlt-logo-img {
    grid-area: img;
    height: auto;
    width: var(--default-rounded-img-width);
    filter: drop-shadow(1px 2px 3px var(--dark-shadow-1));
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mlt-http-error-number,
.mlt-http-error-desc {
    font-family: var(--font-family-fancy);
    font-weight: var(--font-weight-fancy);
    letter-spacing: var(--letter-spacing-fancy);
    
    user-select: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mlt-http-error-number {
    grid-area: error-number;

    letter-spacing: calc(var(--scale-param) * 0.1);
    font-size: calc(var(--scale-param) * 1.6);
    color: var(--gray-4);
    line-height: 1;
    padding-top: calc(var(--scale-param) * 0.2);
    box-sizing: border-box;
    
    align-items: bottom;
}

.mlt-http-error-desc {
    grid-area: error-desc;

    letter-spacing: var(--letter-spacing-fancy);

    font-size: calc(var(--scale-param) * 0.27);
    color: var(--gray-2);
    text-align: center;

    align-items: top;
}