.code-copy-button-handled {
  @apply relative;

  .code-copy-button {
    @apply sticky w-full top-0 left-0;
  }

  > .code-copy-button:not(.code-copy-button-copied) .code-copy-button-inner {
    @apply opacity-40;
  }

  &:hover > .code-copy-button:not(.code-copy-button-copied) .code-copy-button-inner {
    @apply opacity-100;
  }

  .code-copy-button-inner {
    @apply absolute -top-[9px] -right-[9px] cursor-pointer w-9 h-9 rounded-md overflow-hidden transition-opacity duration-300 ease-in-out flex items-center justify-center;

    &.code-copy-button-copied {
      .code-copy-button-icon {
        transition: transform 0.3s ease-in-out;
      }
    }

    .code-copy-button-icon {
      @apply m-0 p-0 mb-[1px] transition-all duration-100 ease-in-out;
    }

    &:hover {
      .code-copy-button-icon {
        transition: transform 0.3s ease-in-out;
      }
    }

    &:active {
      .code-copy-button-icon {
        transition: transform 0.05s ease-in-out;
      }
    }
  }

  &:hover {
    .code-copy-button:not(.code-copy-button-copied) {
      .code-copy-button-inner {
        @apply opacity-100 transition-opacity duration-100 ease-in-out bg-primary;
      }
    }
  }
}
