@font-face {
    font-family: "Unicephalon";
    src: url('../../assets/fonts/Unicephalon/unicephalon.heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.mlt-header-menu-container {
    width: max-content;
	width: fit-content;
	width: -moz-fit-content;
}
.mlt-header-menu-item {
    filter: drop-shadow(1px 2px 3px #222);
    font-family: "Unicephalon", 'Roboto Slab', sans-serif;
    display: inline-block;
    padding: 0.6em 0.8em;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2em;
}
