.mlt-header-top-container {
    line-height: 1.4;
    min-height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    font-family: var(--font-family-fancy);
    font-weight: var(--font-weight-fancy);
    letter-spacing: var(--letter-spacing-fancy);
    font-size: 1.2em;
}

.mlt-header-top-item {
    filter: drop-shadow(1px 2px 3px var(--dark-shadow-2));
    display: inline-block;
    padding: 0.8em 0.8em;
    margin: 0 0.4em;
    user-select: none;
    cursor: pointer;

    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.mlt-header-top-item:hover {
    color: var(--blue-primary);
}

.mlt-header-top-item:active {
    color: var(--purple-primary);
}

.mlt-header-top-item.mlt-header-top-link-active {
    color: var(--blue-primary);
}

@media screen and (max-width: 420px) {
    .mlt-header-top-item {
        padding: 0.6em 0.8em;
        margin: 0;
    }
}

@media screen and (max-width: 380px) {
    .mlt-header-top-container {
        font-size: 1em;
    }
    .mlt-header-top-item {
        padding: 0.6em 0.6em;
    }
}

@media screen and (max-width: 320px) {
    .mlt-header-top-container {
        font-size: .95em;
    }
}