@import "@/app/globals.variables.module.scss";

.contact {
	@apply relative mx-auto my-12 sa:my-auto h-full select-none flex justify-center items-start sa:items-center w-full max-w-screen-1xl;

	.wrapper {
		@apply h-fit grid sa:grid-cols-2 gap-10 w-full;

		.textContainer {
			@apply flex flex-col sm:flex-row sa:flex-col z-10 relative w-full gap-6 sa:gap-10 justify-start
			bg-accent/10 dark:bg-accent/5 p-6 rounded-xl flex-grow h-full;

			.title {
				@apply text-foreground font-extrabold
					sm:max-w-[8.8em]
					text-3xl leading-[1em]
					sm:text-5xl sm:leading-[1em]
					ml:text-6xl ml:leading-[1em];
			}

			.data {
				@apply flex flex-col gap-3;
				.dataItem {
					h2 {
						@apply text-foreground font-extrabold;
					}
				}
			}
		}

		.formContainer {
			@apply relative w-full flex-grow h-fit flex flex-col gap-3 sm:gap-6 px-2 py-0 sa:px-0 sa:py-2;

			.form {
				@apply space-y-6 z-10;

				.fieldLabel {
					@apply text-lg;
				}

				.button {
					@apply border-2 border-foreground font-semibold text-lg text-background bg-foreground px-2 2xs:px-3 py-1 rounded-md hover:text-foreground hover:bg-background transition-colors duration-500 hover:duration-150 hover:drop-shadow-lg opacity-95 hover:opacity-100 cursor-pointer flex items-center w-fit gap-1 xs:gap-3;

					.btnText {
						@apply block w-full flex-grow;
					}

					.btnIcon {
						@apply text-xl w-fit;
					}
				}
			}

			.formCoverSvg {
				@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full z-0 opacity-50;

				svg {
					stroke: $accent;
					stroke-width: 0.15;
					stroke-linecap: round;
					stroke-linejoin: round;
					fill: transparent;
					fill-rule: evenodd;
					clip-rule: evenodd;
				}
			}
		}
	}
}
