.mlt-footer-links {
    line-height: .6;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mlt-footer-links .regular-icon {
    opacity: .85;
}

.mlt-footer-links>a {
    display: inline-block;
    padding: 0.8em 0.8em;
    color: transparent;
    text-decoration: none;
}


.mlt-footer-links>a>img {
    transition: transform 0.3s ease-in-out;
    width: 2em;
    height: 2em;
}

@media screen and (max-width: 320px) {
    .mlt-footer-links>a {
        padding: 0.7em 0.6em;
    }
    .mlt-footer-links>a>img {
        width: 1.7em;
        height: 1.7em;
    }
}

.mlt-footer-links>a:hover>img {
    transform: scale(1.4);
    transition: transform 0.2s ease-in-out;
}

.mlw-icon {
    transform: scale(1.05);
    filter: drop-shadow(1px 2px 3px var(--dark-shadow-1));
}