.mlt-flex-container {
    /* Check index.html for the relevant JavaScript for --vf */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
    display: flex;
    flex-direction: column;
}

.mlt-header {
    background-color: rgb(61 61 61);
    height: 3em;
    /* filter: drop-shadow(1px 2px 3px #222); */
}

.mlt-body {
    overflow: auto;/* added an overflow rule to make the main area scroll if necessary */
    flex: 1;
    flex-grow: 1;
    /* max-width: 100%;  */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.mlt-footer {
    /* background-color: rgba(255, 255, 255, 0.05); */
    height: max-content;
	height: fit-content;
	height: -moz-fit-content;
    min-height: 4.6em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}