/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap'); */

/* @font-face {
    font-family: "Unicephalon";
    src: url('assets/fonts/Unicephalon/unicephalon.heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
} */

* {
    box-sizing: border-box;
}

html,
body {
    /* Check index.html for the relevant JavaScript for --vf */
    /* height: 100%; */
    /* height: calc(var(--vh, 1vh) * 100); */

    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;
    font-size: 16px;
    letter-spacing: .2px;
    background-color: #333333;
    /* user-select: none; */
    color: #ccc;
}

/**
 * Scroll Bars
 */
*::-webkit-scrollbar {
    width: 18px;
}

*::-webkit-scrollbar-track {
    /* background: #eee; */
    background: #333333;

}

*::-webkit-scrollbar-thumb {
    /* background: #bbb; */
    background: #aaa;
    border-radius: 2px;
    /* border: 5px solid #eee; */
    border: 5px solid #333333;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb:vertical:hover {
    background: #3c7bc9;
}

/** FireFox Scrollbar **/
html,
body {
    scrollbar-color: #3c7bc9 #9f9f9f2a;
    scrollbar-width: thin;
}

/**
 * React Root DOM Element
 */
#root {
    font-family: 'Roboto', sans-serif;
    /* Check index.html for the relevant JavaScript for --vf */
    /* height: 100%; */
    /* height: calc(var(--vh, 1vh) * 100); */
}
