@import "@/app/globals.variables.module.scss";

.about {
	.section {
		@apply space-y-8;

		.sectionHeader {
			@apply flex items-center justify-between gap-4 mb-4 w-full;

			.sectionTitle {
				@apply font-unicephalon text-2xl tracking-wider text-foreground-secondary flex-grow;
			}
		}
	}

	.section + .section {
		@apply mt-16;
	}

	.feed {
		@apply space-y-6;
	}

	.cardAdmin {
		@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%] rounded-2xl h-full pt-12 xs:pt-6 p-6 md:p-8 relative min-h-fit flex items-start flex-col gap-3 justify-start;

		transition:
			background-color 0.5s,
			box-shadow 0.5s,
			opacity 0.5s,
			box-shadow 0.5s;

		&:hover {
			@apply bg-popover/[40%] dark:bg-popover/[80%];

			transition:
				background-color 0.5s,
				box-shadow 0.5s,
				opacity 0.5s,
				box-shadow 0.5s;

			:global(.light) & {
				box-shadow: 0 6px 24px theme("colors.primary.DEFAULT");
			}

			:global(.light-brown) & {
				box-shadow: 0 8px 32px theme("colors.primary.DEFAULT");
			}

			:global(.dark) & {
				box-shadow: 0 8px 32px theme("colors.muted.DEFAULT");
			}
		}

		.cardEditActions {
			@apply flex gap-1 absolute right-0 top-0 p-4 rounded-2xl;
		}

		.cardImageEditMode {
			@apply mt-8 border w-full drop-shadow-2xl rounded-md overflow-hidden;

			img {
				@apply w-full h-auto;
			}
		}

		.metaInfo {
			@apply flex gap-2;

			.date {
				@apply flex gap-1;
			}

			.divider {
				@apply text-foreground-quaternary;
			}
		}

		.content {
			@apply w-full;
		}

		.description {
			:global(.about-entry-collapsible) {
				@apply pt-4 border-t border-foreground-quaternary;
			}
		}
	}

	.card {
		// .metaInfo {
		// 	@apply flex gap-2;

		// 	.date {
		// 		@apply flex gap-1;
		// 	}

		// 	.divider {
		// 		@apply text-foreground-quaternary;
		// 	}
		// }

		.lightPrimaryText {
			@apply text-foreground-secondary;
		}

		.lightSecondaryText {
			@apply text-foreground-quaternary;
		}

		.title {
			@apply text-lg tracking-wide font-semibold mb-4;
		}

		.description {
			@apply text-foreground-secondary hyphens-auto;

			a,
			a:visited {
				@apply text-ring;
			}

			a:hover {
				@apply underline text-ring-secondary;
			}

			p {
				@apply mb-4;
			}

			p:last-of-type {
				@apply mb-0;
			}

			:global(.about-entry-collapsible) {
				@apply mt-4;
			}

			:global(.about-entry-tags) {
				@apply flex gap-1 flex-wrap p-0;
			}

			:global(.about-entry-collapsible-text) + :global(.about-entry-tags) {
				@apply mt-4;
			}
		}
	}

	.businessCard {
		@apply flex flex-col sa:grid gap-4 xa:gap-8 sa:gap-6 mb-12 mm:px-12;

		@screen sa {
			grid-template:
				"image title"
				"image description"
				/ max-content 1fr;
		}

		.businessCardImageWrapper {
			@apply rounded-full overflow-hidden p-2 3xs:p-3 sa:p-2 bg-foreground-secondary w-fit h-fit mx-auto select-none
			drop-shadow-[1px_2px_4px_rgba(17,17,17,1)];

			grid-area: image;

			.businessCardImage {
				@apply rounded-full
				drop-shadow-[0_0_3px_rgba(85,85,85,1)] w-[186px] h-[186px] 6xs:w-[60vw] 6xs:h-[60vw] 3xs:w-[300px] 3xs:h-[300px] sa:w-[200px] sa:h-[200px];
			}
		}

		.businessCardTitle {
			@apply font-unicephalon text-2xl 6xs:text-[8.4vw] xa:text-5xl sa:text-[2.5rem] mp:text-[2.75rem] ma:text-5xl tracking-wider text-foreground-secondary flex sa:flex-col justify-center sa:justify-end items-center sa:items-start text-center sa:text-left;

			grid-area: title;
			line-height: 1.2em;

			@screen 6xs {
				line-height: 1.15em;
			}
		}

		.businessCardDescription {
			@apply 6xs:text-lg sa:text-base ma:text-lg font-semibold tracking-widest text-foreground-tertiary text-center sa:text-left;

			grid-area: description;
		}
	}
}
