@import "@/app/globals.variables.module.scss";

.about {
	.section {
		@apply scroll-m-8;

		.sectionHeader {
			@apply 2xs:flex 2xs:flex-row-reverse items-start justify-between gap-6 2xs:gap-4 mb-8 w-full scroll-m-6;

			.sectionTitle {
				@apply font-unicephalon text-3xl tracking-wider text-foreground-secondary flex-grow hyphens-auto;
			}

			.sectionButtons {
				@apply flex gap-2 float-right mb-2 select-none scale-75 2xs:scale-100 origin-top-right;

				.classToggleText {
					@apply cursor-pointer uppercase font-unicephalon tracking-wider py-2 px-5 rounded-full
					text-foreground-secondary bg-primary hover:bg-foreground-secondary hover:text-background transition-colors duration-300
					-ml-8 2xs:ml-2 mt-1 2xs:-mt-0.5 -mb-4 2xs:mb-0 whitespace-nowrap;
				}

				.classToggleIcon {
					@apply cursor-pointer uppercase font-unicephalon w-10 h-10 rounded-full flex items-center justify-center
					text-foreground-secondary bg-primary hover:bg-background transition-colors duration-300 border-primary border-4;
				}
			}
		}

		.feed {
			@apply space-y-10;
		}

		:global(.section-card-collapsible) {
			display: none;
		}

		&:global(.expand-collapsed.list-section) :global(.section-card-collapsible) {
			display: inherit;
			// Note for <Resume /> "mt-4" is applied within the component
		}
	}

	.section + .section {
		@apply mt-20;
	}

	.card {
		.lightPrimaryText {
			@apply text-foreground-secondary;
		}

		.lightSecondaryText {
			@apply text-foreground-quaternary;
		}

		.title {
			@apply text-lg tracking-wide font-semibold hyphens-auto;

			& > p:last-of-type {
				@apply mb-0;
			}
		}

		.description {
			@apply text-foreground-secondary hyphens-auto xa:text-justify sa:text-[1.06rem] sa:leading-[1.5em];

			a,
			a:visited {
				@apply text-ring;
			}

			a:hover {
				@apply underline text-ring-secondary;
			}

			p {
				@apply mb-4;

				strong {
					@apply text-foreground font-semibold;
				}
			}

			p:last-of-type {
				@apply mb-0;
			}
		}
	}

	.cardAdmin {
		@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%] rounded-2xl h-full pt-12 xs:pt-6 p-6 md:p-8 relative min-h-fit flex items-start flex-col gap-3 justify-start;

		transition:
			background-color 0.5s,
			box-shadow 0.5s,
			opacity 0.5s,
			box-shadow 0.5s;

		&:hover {
			@apply bg-popover/[40%] dark:bg-popover/[80%];

			transition:
				background-color 0.5s,
				box-shadow 0.5s,
				opacity 0.5s,
				box-shadow 0.5s;

			:global(.light) & {
				box-shadow: 0 6px 24px theme("colors.primary.DEFAULT");
			}

			:global(.light-brown) & {
				box-shadow: 0 8px 32px theme("colors.primary.DEFAULT");
			}

			:global(.dark) & {
				box-shadow: 0 8px 32px theme("colors.muted.DEFAULT");
			}
		}

		.cardEditActions {
			@apply flex gap-1 absolute right-0 top-0 p-4 rounded-2xl;
		}

		.cardImageEditMode {
			@apply mt-8 border w-full drop-shadow-2xl rounded-md overflow-hidden;

			img {
				@apply w-full h-auto;
			}
		}

		.metaInfo {
			@apply flex gap-2;

			.date {
				@apply flex gap-1;
			}

			.divider {
				@apply text-foreground-tertiary;
			}
		}

		.content {
			@apply w-full;
		}

		.title {
			@apply mb-4;
		}

		.description {
			:global(.card-item-collapsible) {
				@apply pt-4 border-t border-foreground-quaternary;
			}
		}

		:global(.card-item-collapsible) {
			@apply mt-4;
		}

		:global(.about-entry-tags) {
			@apply flex gap-1 flex-wrap p-0;
		}

		:global(.card-item-collapsible) + :global(.about-entry-tags) {
			@apply mt-4;
		}
	}

	// Without this wrapper "display:grid" of .cardPublic
	// takes precedence over "display:none" of the dynamically added .hidden
	.cardPublicWrapper {
		@apply scroll-m-8;

		:global(.card-item-collapsible) {
			display: none;
		}

		&:global(.expand-collapsed) :global(.card-item-collapsible) {
			display: inherit;
		}

		&:global(.expand-collapsed-current) {
			position: relative;

			&:before {
				position: absolute;
				top: -0.3rem;
				bottom: -0.3rem;
				left: -0.1rem;
				right: -0.1rem;
				display: block;
				content: "";
				border-radius: 0.4rem;
				outline: 4px solid theme("colors.primary.DEFAULT");
				outline-offset: 0.5rem;

				// See the _main-layout.module.scss for explanation
				@screen xa {
					top: -0.4rem;
					bottom: -0.4rem;
					left: -0.15rem;
					right: -0.15rem;
				}
			}
		}

		:global(.card-item-static) {
			@apply line-clamp-3 mt-1;

			transition: margin-top 0.2s ease-out 0.05s;
		}

		&:global(.expand-collapsed) :global(.card-item-static) {
			@apply mt-4;

			transition: margin-top 0.05s ease-in;
		}

		&:global(.expand-collapsed) :global(.card-item-static) {
			@apply line-clamp-none;
		}

		:global(.card-item-static) + :global(.card-item-collapsible) {
			@apply mt-4;
		}
	}

	.cardPublic {
		@apply grid relative;

		grid-template:
			"content-title"
			"meta-info"
			"content-description";

		@screen sa {
			grid-template:
				"meta-info content-title"
				"meta-info content-description"
				/ max-content 1fr;
		}

		.metaInfo {
			@apply flex sa:flex-col gap-2 sa:gap-0.5 sa:mt-0.5 sa:w-[8rem];

			grid-area: meta-info;

			.date {
				@apply flex gap-1 text-sm sa:text-base;
			}

			.divider {
				@apply text-sm sa:hidden text-muted-foreground;
			}

			.location {
				@apply line-clamp-1 text-sm;
			}
		}

		.header {
			@apply w-full;

			grid-area: content-title;
		}

		.description {
			@apply w-full;

			grid-area: content-description;
		}

		.cardButtons {
			@apply float-right ml-2 mb-2 select-none scale-85 2xs:scale-90 origin-top-right relative min-w-[2.1rem] min-h-[1.2em];

			.classToggleText {
				@apply cursor-pointer uppercase font-unicephalon tracking-wider py-2 px-5 rounded-full
					text-foreground-secondary bg-primary hover:bg-foreground-secondary hover:text-background transition-colors duration-300
					absolute right-0 -top-0.5 whitespace-nowrap;
			}

			.classToggleIcon {
				@apply cursor-pointer uppercase font-unicephalon w-10 h-10 rounded-full flex items-center justify-center
					text-foreground-secondary bg-primary hover:bg-background transition-colors duration-300 border-primary border-4
					absolute right-0 -top-[0.375rem];
			}
		}

		:global(.card-item-collapsible) {
			@apply mt-2;
		}

		:global(.about-entry-tags) {
			@apply flex gap-1 flex-wrap p-0;
		}

		:global(.card-item-collapsible) > :global(.about-entry-tags) {
			@apply mt-4;
		}
	}

	.businessCard {
		@apply flex flex-col sa:grid gap-4 xa:gap-8 sa:gap-6 mb-16;

		@screen sa {
			grid-template:
				"image title"
				"image description"
				/ max-content 1fr;
		}

		.businessCardImageWrapper {
			@apply rounded-full overflow-hidden p-2 3xs:p-3 sa:p-2 bg-foreground-secondary w-fit h-fit mx-auto select-none
			drop-shadow-[1px_2px_4px_rgba(17,17,17,1)];

			grid-area: image;

			.businessCardImage {
				@apply rounded-full
				drop-shadow-[0_0_3px_rgba(85,85,85,1)] w-[186px] h-[186px] 6xs:w-[60vw] 6xs:h-[60vw] 3xs:w-[300px] 3xs:h-[300px] sa:w-[200px] sa:h-[200px];
			}
		}

		.businessCardTitle {
			@apply font-unicephalon text-2xl 6xs:text-[7.8vw] xa:text-5xl sa:text-[2.5rem] mp:text-[2.75rem] ma:text-5xl tracking-wider text-foreground-secondary flex sa:flex-col justify-center sa:justify-end items-center sa:items-start text-center sa:text-left;

			grid-area: title;
			line-height: 1.2em;

			@screen 6xs {
				line-height: 1.15em;
			}
		}

		.businessCardDescription {
			@apply 6xs:text-lg sa:text-base ma:text-lg font-semibold tracking-widest text-foreground-tertiary text-center sa:text-left;

			grid-area: description;
		}
	}
}
