@import "@/app/globals.variables.module.scss";

.cardWrapper {
	@apply scroll-m-8 relative;

	.card {
		@apply bg-card/[50%] md:bg-card/[25%] dark:bg-card/[25%] rounded-2xl h-full p-4 min-h-fit flex items-start flex-col gap-1 justify-start border-4 border-transparent;

		transition:
			background-color 0.5s,
			box-shadow 0.5s,
			opacity 0.5s,
			box-shadow 0.5s,
			border-color 0.5s;

		&:hover {
			@apply bg-popover/[80%] border-muted/60;

			box-shadow: 0 4px 24px theme("colors.muted.secondary/80%");
			transition:
				background-color 0.5s,
				box-shadow 0.5s,
				opacity 0.5s,
				box-shadow 0.5s border-color 0.5s;

			:global(.dark) & {
				@apply border-primary/60;
			}
		}

		.projectLinks {
			@apply pt-1 m-0 flex gap-2 transition-all duration-300;

			.iconWrapper {
				@apply fill-foreground-secondary hover:fill-ring-secondary flex items-center justify-center h-full;
			}
		}
	}

	/* stylelint-disable no-descending-specificity */
	&:target .card {
		@apply border-primary/80;
	}
}
