@import "@/app/globals.variables.module.scss";

// Without this wrapper "display:grid" of .cardPublic
// takes precedence over "display:none" of the dynamically added .hidden
.cardWrapper {
	@apply scroll-m-8;

	:global(.card-item-collapsible) {
		display: none;
	}

	&:global(.expand-collapsed) :global(.card-item-collapsible) {
		display: inherit;
	}

	&:global(.expand-collapsed-current) {
		position: relative;

		&:before {
			position: absolute;
			top: -0.3rem;
			bottom: -0.3rem;
			left: -0.1rem;
			right: -0.1rem;
			display: block;
			content: "";
			border-radius: 0.4rem;
			outline: 4px solid theme("colors.primary.DEFAULT");
			outline-offset: 0.5rem;

			// See the _main-layout.module.scss for explanation
			@screen xa {
				top: -0.4rem;
				bottom: -0.4rem;
				left: -0.15rem;
				right: -0.15rem;
			}
		}
	}

	:global(.card-single-item) {
		@apply mt-1;
	}

	:global(.card-item-static) {
		@apply line-clamp-3 mt-1;

		transition: margin-top 0.2s ease-out 0.05s;

		& > p {
			@apply mb-2;

			transition: margin-top 0.2s ease-out 0.05s;
		}
	}

	&:global(.expand-collapsed) :global(.card-item-static) {
		@apply mt-4 line-clamp-none;

		transition: margin-top 0.05s ease-in;

		& > p {
			@apply mb-4;

			transition: margin-top 0.05s ease-in;
		}
	}

	:global(.card-item-static) + :global(.card-item-collapsible) {
		@apply mt-4;
	}

	:global(.card-item-collapsible) {
		@apply mt-2;
	}

	:global(.about-entry-tags) {
		@apply flex gap-1 flex-wrap p-0;
	}

	:global(.card-item-collapsible) > :global(.about-entry-tags) {
		@apply mt-4;
	}
}

.card {
	@apply grid relative;

	grid-template:
		"content-title"
		"meta-info"
		"content-description";

	@screen sa {
		grid-template:
			"meta-info content-title"
			"meta-info content-description"
			/ max-content 1fr;
	}

	.info {
		@apply flex sa:flex-col gap-2 sa:gap-0.5 sa:mt-0.5 sa:w-[8rem];

		grid-area: meta-info;

		.date {
			@apply flex gap-1 text-sm sa:text-base;
		}

		.divider {
			@apply text-sm sa:hidden text-muted-foreground;
		}

		.location {
			@apply line-clamp-1 text-sm;
		}
	}

	.header {
		@apply w-full;

		grid-area: content-title;
	}

	.lightPrimaryText {
		@apply text-foreground-secondary;
	}

	.lightSecondaryText {
		@apply text-foreground-quaternary;
	}

	.title {
		@apply text-lg tracking-wide font-semibold hyphens-auto;

		& > p:last-of-type {
			@apply mb-0;
		}
	}

	.description {
		@apply w-full;

		grid-area: content-description;
	}

	.buttons {
		@apply float-right ml-2 mb-2 relative h-2;

		.buttonsContainer {
			@apply absolute flex items-center gap-3 2xs:gap-2 right-0 -top-[0.375rem] select-none scale-75 2xs:scale-90 origin-right;
		}
	}
}
